
<div class="row no-gutters">
        <div class="col-3">
            <img class="image" (click)="goToCountryTool()" src="assets/img/Affiliation.png" style="width:190px;height:142px;" class="center">
            <div class="d-flex flex-row flex-wrap">
                <a *ngFor="let country of countryArray" class="list-group-item list-group-item-action">
                    {{country.countryName}} 
                  </a>
            </div>
        </div>
        <div class="col-3">
            <img class="image" (click)="goToRoleTool()" src="assets/img/Role.png" style="width:190px;height:142px;" class="center">
            <div class="d-flex flex-row flex-wrap">
                <a *ngFor="let role of roleArray" class="list-group-item list-group-item-action">
                    {{role.roleName}}
                  </a>
            </div>
        </div>
        <div class="col-3">
            <img class="image" (click)="goToParticipantTool()" src="assets/img/Participant.png" style="width:190px;height:142px;" class="center">
            <div class="d-flex flex-row flex-wrap">
                <a *ngFor="let user of userArray" class="list-group-item list-group-item-action">
                    {{user.email}}
                  </a>
            </div>
        </div>
    </div>
