<ngb-tabset [destroyOnHide]="false">
    <ngb-tab title="Affiliation">
        <ng-template ngbTabContent>
            <div class="col-3">
                <img class="image" (click)="goToCountryTool()" src="assets/img/Affiliation.png" style="width:190px;height:142px;" class="center">
                <div class="d-flex flex-row flex-wrap">
                    <a *ngFor="let country of countryArray" class="list-group-item list-group-item-action">
                        {{country.countryName}}
                      </a>
                </div>
            </div>
        </ng-template>
    </ngb-tab>

    <ngb-tab title="Role">
        <ng-template ngbTabContent>
            <div class="col-8">
                <img class="image" (click)="goToRoleTool()" src="assets/img/Role.png" style="width:190px;height:142px;" class="center">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Affiliation</th>
                            <th scope="col">Title</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let role of roleArray">
                            <td>{{role.ofCountry}}</td>
                            <td>{{role.roleName}}</td>
                            <td>{{role.firstName}}</td>
                            <td>{{role.lastName}}</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </ng-template>
    </ngb-tab>

    <ngb-tab title="Participant">
        <ng-template ngbTabContent>
            <div class="col-8">
                <img class="image" (click)="goToParticipantTool()" src="assets/img/Participant.png" style="width:190px;height:142px;" class="center">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Student Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Role Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of userArray">
                            <td>{{user.firstName}} {{user.lastName}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.rolePosition}}, {{user.roleAffiliation}}</td>
                            <td>{{user.roleFirstName}} {{user.roleLastName}}</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </ng-template>
    </ngb-tab>

    <ngb-tab title="User">
        <ng-template ngbTabContent>
            <div class="col-3">
                
            </div>
        </ng-template>
    </ngb-tab>

    <ngb-tab title="User-sub">
        <ng-template ngbTabContent>
            <div class="col-3">

            </div>
        </ng-template>
    </ngb-tab>

</ngb-tabset>
