.img
{
  // display: inline-block;
  // padding:0;
  margin-top: 20px;
  height: 449px;
  width: 350px;
  float: left;
  background-image: url("../../../assets/img/roles/XiJinping.png");
}
.info
{
  float: left;
  clear: left;
}

// right side timeline
.right {
  // float: right;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 50px;
  // clear: right;
  // margin-left: 200px;
}
.timeline {

  position: relative;
  display: grid;
  gap: 40px;
  padding: 0;
  margin: 0;
  max-width: 600px;
  font-size: 0.75rem;
  line-height: 1;
  color: black;
  list-style-type: none;
  clip-path: inset(0 0 100% 0);
  animation: expand 5s forwards linear;
}
.timeline .timeline__line {
  position: absolute;
  top: 0;
  left: 6px;
  width: 4px;
  height: 100%;
  background:black;
}
.timeline .timeline__item .info {
  display: grid;
  grid-template-columns: repeat(3, auto) 1fr;
  align-items: center;
  gap: 0.3rem;
}
.timeline .timeline__item .info h6 {
  margin: 0;
}
.timeline .timeline__item .info a {
  text-decoration: none;
  color: #3498db;
}
.timeline .timeline__item .info .dot {
  position: relative;
  width: 16px;
  height: 16px;
  background: #1a1e23;
  border-radius: 50%;
}
.timeline .timeline__item .info .dot::before {
  position: absolute;
  content: "";
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  /* background: #1a1e23; */
}
.timeline .timeline__item .info .dot::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  // border: 4px solid black;
  border-radius: inherit;
}
.timeline .timeline__item .info .time {
  margin-right: 8px;
}
.timeline .timeline__item .content {
  margin: 25px 25px 25px;
  line-height: 1.5;
}

@keyframes expand {
  to {
    clip-path: inset(0 0 0 0);
  }
}

// ============= Adjust the Side-bar ===================================

.contact-info{
  position: fixed;
  top: 40%;
  z-index: 99999;
  left: 0;
  
}
.option{
  cursor: pointer;
  position: relative;
}
.option i{
  display: block;
  width: 60px;
  text-align: center;
  height: 55px;
  line-height: 40px;
  background: transition;
  color: #454552;
  font-size: 19px;
  transition: 0.6s;
}
.option:hover i{

  color: #FD999A;
}
.text{
  position: absolute;
  height: 60px;
  width: 120px;
  background:  transition;
  top: 0;
  z-index: -1;
  left: -140px;
  color: #454552;
  line-height: 40px;
  text-align: center;
  transition: 0.6s;
  font: bold;
}
option.a{
  position: absolute;
  height: 60px;
  width: 120px;
  background: #454552;
  top: 0;
  z-index: -1;
  left: -140px;
  color: #f2e9e1;
  line-height: 60px;
  text-align: center;
  transition: 0.6s;
  font: bold;
}

.option:hover .text{
  left: 40px;
}



  