.modal{
    box-shadow: none !important;
    background-color: transparent !important;
}

body
{
    // margin: 0;
    // padding: 0;
   
    width:100%;
    height:100%;
    background-image: url("../../../assets/img/1.png");
    background-size:100% 100%;
    // position: absolute;
    position: absolute;
    left: 0;
    top:0;


}
.container
{
    position: absolute;
   
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 500px;
    border-radius: 7px;
    border:0px solid rgba(255, 255, 255, .2);
    box-shadow :  10px 10px 15px rgba(0, 0, 0, .3);

}
.imgBx
{
    float: left;
   
    width: 420px;
    height: 500px;
    overflow: hidden;

}
.imgBx img
{
    width: 100%;
    height: 100%;
}
.loginBox
{
    
    float: right;
    left: 20px;
    width: 350px;
    height: 500px;
    box-sizing: border-box;
    padding:  15px 40px;
    background-color: rgba(255, 255, 255,.3);
  
}
h4
{
    margin: 0;
    font-size: 45px;
    margin-left: 73px;
    margin-top: 65px;
    padding: 0 0 63px;
    color: #454552;
}

.alert-danger
{
    font-size: 12px;
    padding: 0;
    margin: 0;
}


.loginBox input
{
    
    width: 100%;
    // margin-bottom: 25px;
}
.loginBox input[type="email"],
.loginBox input[type="password"]
{
    border: none;   
    border-bottom: 2px solid #454552; 
    outline: none;
    height: 35px;
    color: #454552;
    background: transparent;
    font-size: 16px;
    padding-left: 10px;
    box-sizing: border-box;
    margin-bottom: 25px;

}

.inputBox
{
    position: relative;
}
.inputBox .email-icon,
.inputBox .password-icon
{
    position: absolute;
    top: 5px;
    right: 10px;
   
}
.inputBox .email-icon img,
.inputBox .password-icon img
{
    // margin-top: 5px;;
    width: 20px;
    height: 20px;
    // background-color:  #454552 ;
    
}
::placeholder
{
    color: rgba(0, 0, 0, .3);
}


.loginBox input[type="submit"]
{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    border: 1px solid #454552;
    outline: none ;
    height: 45px;
    font-size: 18px;    
    background: transparent;
    cursor: pointer;
    color:  #454552 ;
    font-weight: bold;
}
.loginBox input[type="submit"]:hover
{
    background-color: #454552;
    color:#fffff3;
}