<aside (click)="onChange($event)">
  <header>
    <ng-template #rt let-r="result" let-t="term" >
      <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
    </ng-template>
    <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter"/>
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png" >
  </header>
  <ul *ngIf="chatRoomsList && chatRoomsList.length> 0">
    <li *ngFor="let item of chatRoomsList; let i = index" [attr.data-index]="i" (click)="setChatRoom(item)">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
      <div>
        <h2 *ngIf="item.user">{{item.user.name}}</h2>
        <h3>
          <span class="status orange"></span>
          offline
        </h3>
      </div>
    </li>
  </ul>
</aside>
