.input-wrapper
{
margin-top: 10px;
  height: 200px;
  margin-left: 8%;
}

input[type=text]
{
  margin-left: 20px;
  margin-top: 10px;
  border-bottom: none;
  width: 80%;
  word-break:break-all
}
::placeholder
{
    font-size: 18px;
    color: rgba(0, 0, 0, .3);
}

button[type="submit"]
{
  margin-top: 40px;
  margin-left: 84%;
  // margin-right: 30px;
  width: 15%;
  border: none;
  outline: none ;
  height: 40px;
  font-size: 20px;    
  background: #FD999A;
  cursor: pointer;
  color:  #ffffff; 
}
button[type="submit"]:hover
{
    background-color: #8ABBDB;
    color: #ffffff;
}

button[type="submit"]:disabled:hover
{
    background-color: #FD999A;
    color: #ffffff;
}



* {

  box-sizing: border-box;
}

.row {
  display: block;
}

.row::after {
  content: "";
  clear:both;
  display: grid;
}
[class*="col-"]{
  float: left;
  padding: inherit;
  border: 10px;
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3{width: 25%;}
  .col-4{width: 33.33%;}
  .col-5{width: 41.66%;}
  .color-6{width: 50%;}
  .color-7{width: 58.33%;}
  .color-8{width: 66.66%;}
  .color-9{width: 75%;}
  .color-10{width: 83.33%;}
  .color-11{width:91.66%;}
  .color-12{width:100%;}

}

.text-fix
{
  overflow-wrap: break-word;
}

.row-container
{
  display:grid;
  height:400px;
  align-content:end;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: none;

}
.button {
  background-color: grey-text;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
.card-panel
{
  background-color: #E1EEF6;
  font-size: 20px;
  width: 100%;
}
.card-date
{
  background-color: #E1EEF6;
  font-size: 20px;
  color: #4eadda;
  width: 100%;
}
a{
  color:#B1B6B8;
}

// ============= Adjust the Side-bar ===================================

.contact-info{
  position: fixed;
  top: 40%;
  z-index: 99999;
  left: 0;

}
.option{
  cursor: pointer;
  position: relative;
}
.option i{
  display: block;
  width: 60px;
  text-align: center;
  height: 55px;
  line-height: 40px;
  background: transition;
  color: #454552;
  font-size: 19px;
  transition: 0.6s;
}
.option:hover i{

  color: #FD999A;
}
.text{
  position: absolute;
  height: 60px;
  width: 120px;
  background:  transition;
  top: 0;
  z-index: -1;
  left: -140px;
  color: #454552;
  line-height: 40px;
  text-align: center;
  transition: 0.6s;
  font: bold;
}
option.a{
  position: absolute;
  height: 60px;
  width: 120px;
  background: #454552;
  top: 0;
  z-index: -1;
  left: -140px;
  color: #f2e9e1;
  line-height: 60px;
  text-align: center;
  transition: 0.6s;
  font: bold;
}

.option:hover .text{
  left: 40px;
}

.tweet-button {
  float: right;
}

.tweet-button:disabled{
  opacity: 0.3;
  cursor:default;
}

::ng-deep img {
  max-width: 100%;
}

::ng-deep .ck.ck-content ul,
::ng-deep .ck.ck-content ul li{
  list-style-type: inherit;
}

.ck.ck-content {
  height: 100px;
}

.ck.ck-content ul {
  /* Default user agent stylesheet, you can change it to your needs. */
  padding-left: 40px;
}

.hashtag {
  color: blue;
}

.hashtag:hover {
  text-decoration: underline;
}

.mention {
  color: blue;
}

.twitterHandle {
  margin-top: 0px;
  font-size: 12px;
  color: lightseagreen;
}

.grey-text{
  color: grey-text;
  margin-bottom: 0;
}

.deep-purple-text{
  margin-bottom: 0;
}

.modal{
  background-color: unset !important;
  box-shadow: unset !important;
}
.modal .modal-footer{
  border-bottom: unset !important;
}
.modal .modal-footer{
  border-radius: 0px !important;
  background-color: unset !important;
  padding: unset !important;
  height: unset !important;
  width: 100%;
  text-align: unset !important;
  border-top: unset !important;
}
.modal button:focus{
  background-color: unset !important;
}