<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

<body>

    <div class="row mt-4">

        <div class="col-12">
            
            <div class="row text-fix" *ngIf="authError">
                <div class="col-12 alert alert-danger">
                    {{ authError?.message }}
                </div>
            </div>
            <form #roleForm="ngForm" (ngSubmit)="add(content)">
                <div class="row">
                    <div class="input-wrapper">
                        <h3>Twitter Feed</h3>
                        <ckeditor name="content" [editor]="Editor" [(ngModel)]="tweet.content"
                            style="min-height: 500px;" [config]="editorConfig"></ckeditor>
                        <div class="col-md-12">
                            <button type="submit" class="tweet-button">Tweet</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="row text-fix" *ngFor="let tweet of tweets">
            <div class="col-1">
                <img (click)="profile($event, tweet)" src={{tweet.roleAvatar}} class="circle responsive-img role-img">
            </div>
            <div class="col-11">
                <div class="card-panel">
                    <div class="card-content">
                        <p class="grey-text" *ngIf="tweet.systemRole !== 'admin'">{{tweet.roleFirstName}}
                            {{tweet.roleLastName}}</p>
                        <p class="deep-purple-text" *ngIf="user.systemRole === 'admin'">{{tweet.firstName}}
                            {{tweet.lastName}}
                        </p>
                        <div [innerHtml]="tweet.content"></div>
                    </div>
                    <div class="card-date">
                        <p>{{tweet.date.toDate() | date: 'medium'}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

     <!-- alert -->
     <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Alert</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h6>Tweet has been posted successfully</h6>
        </div>
    </ng-template>

</body>