<div *ngIf="user">
    
    <div class="ui">    
        <button class="button" (click)="add()"><span>Add Role</span> </button>
    </div>


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Affiliation</th>
                <th scope="col">Title</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let role of roles">
                <td>{{role.affiliation}}</td>
                <td>{{role.title}}</td>
                <td>{{role.firstName}}</td>
                <td>{{role.lastName}}</td>
                <td>
                    <a [routerLink]="['/profile', role.id]">
                        <button value="View" class="btn">View</button>
                    </a>
                    <p></p>
                    <a [routerLink]="['/profile-edit', role.id]">
                        <button value="Edit" class="btn">Edit</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
