<div *ngIf="user">
    
    <div class="ui">    
        <div class="image" (click)="add()"></div>
    </div>


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Affiliation</th>
                <th scope="col">Title</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let role of roles">
                <td>{{role.ofCountry}}</td>
                <td>{{role.roleName}}</td>
                <td>{{role.firstName}}</td>
                <td>{{role.lastName}}</td>

                <!-- trying /routerLink="profile/role.id" but not sure how-->
                <td><button (click)="profile($event, role)" value="View" class="btn green">View</button></td>
            </tr>
        </tbody>
    </table>
</div>
