<body>

    <div class="container">

        <div class="row mt-4">

            <div class="col-12">
                <h5>Control User Registration</h5>
            </div>
        
            <div class="col-12">
    
                <div class="row" *ngIf="authError">
                    <div class="col-12 alert alert-danger">
                        {{ authError?.message }}
                    </div>
                </div>
                
                <form #userRegForm="ngForm" (ngSubmit)="create(userRegForm)">
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <input ngModel #firstName="ngModel" name="firstName" type="text" class="form-control" id="firstName" placeholder="First name" autofocus >
                            <span class="user-icon">
                                <img src="../../../assets/img/user.png" alt="email-icon">
                            </span>
                        </div>
                        <div class="col-md-6 mb-2">
                            <input ngModel #lastName="ngModel" name="lastName" type="text" class="form-control" id="lastName" value="" placeholder="Last name"autofocus>
                            <span class="user-icon">
                                <img src="../../../assets/img/user.png" alt="email-icon">
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <input ngModel #email="ngModel" name="email" type="email" class="form-control" placeholder="Email address" autofocus>
                            <span class="email-icon">
                                <img src="../../../assets/img/email.png" alt="email-icon">
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <input ngModel #password="ngModel" name="password" type="password" class="form-control" placeholder="New password" autofocus>
                                <span class="password-icon">
                                    <img src="../../../assets/img/psw.png" alt="password-icon">
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <input name="password" type="password" class="form-control" placeholder="Confirm password" autofocus> 
                                <span class="password-icon">
                                    <img src="../../../assets/img/psw.png" alt="password-icon">
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input ngModel #syr="ngModel" name="syr" type="hidden" class="form-control" value="cc" autofocus>
                                <button type="submit">Submit</button>
                                <button type="button" (click)="cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>



                </form>
            </div>
        </div>
        
    </div>
    


</body>

