<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

<div class ="left">
<div class="img"></div>

<div class="info">
      <h5>Tamim bin Hamad Al Thani</h5>
      <h6>Emir,   Gulf State - Qatar</h6>
</div>
</div>

<!-- timeline -->
<div class="right">

<ul class="timeline">
    <li class="timeline__line"></li>
    <li class="timeline__item start">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">Tamim bin Hamad Al Thani</h6>
        <br>
      </div>
      <li class="timeline__item">
        <div class="info">
          <div class="dot"></div>

          <h6 class="title">
            Background :
          </h6>
        </div>
        <div class="content">
          Born in Doha as the fourth son of Hamad bin Khalifa Al-Thani, the former emir of Qatar, I was educated in Great Britain, and graduated from the Royal Military Academy in Sandhurst later becoming a Second Lieutenant in the Qatar Armed Forces. I am the current Emir of Qatar since my father’s abdication in 2013. All Emir's are members of the Al Thani ruling family who hold major political and social positions within Qatar and internationally.
          <br>
          <br>
          Described as pragmatic and savvy ruler who has strong relations with the West, I was only one of 3 to ascend to the position of Emir without the need of a coup. At 37, I am one of the youngest rulers in the Arab world, and as such my ideologies and aspirations differ slightly from the older rulers of my neighbouring states. 
         <br>
         <br>
         I believe in promoting sport as an important part of raising my nation’s international profile and this is displayed in my founding of Oryx Qatar Sports Investments. I was voted the “best sport personality in the Arab world” by Egypt’s Al Ahram newspaper and have guided Qatar to host the 2014 FINA Swimming World Championships, the 2022 FIFA World Cup and I headed Doha’s bid for the 2020 Olympics. 
         <br>
         <br>
         My predecessor helped build Qatar into the richest nation worldwide based on per capita purchasing power. This is in part achieved by basing the nations economy not solely based on the sale of oil. The income from oil is recycled into other markets and investments including property.
   
        </div>
      </li>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>

        <h6 class="title">
            Allies ： 
        </h6>
      </div>
      <div class="content">
        Until recently my nation was in close alliance with all members of the Gulf Cooperation Council, a union of Saudi Arabia, the UAE, Bahrain, Kuwait, Oman, and Qatar. It has been the tightest knit alliance in the Middle East. Qatar is also a part of the United Nations and Arab League, however with recent conflict, relations between other members are currently less amicable.
          <br>
          <br>
          We have close diplomatic ties with Iran amongst controversy from fellow Gulf States, as we share major gas reserves. Following the land and air blockade, Iran allowed sea passage to ensure supplies arrived in Qatar.
          <br>
          <br>
          As well as Iran, we have strong ties with the United States as Qatar is home to the largest US military base in the Middle East with around 11,000 personnel. The base acts as the launch point for the US and its allies’ fight on Islamic State in Syria. We also have a Turkish military base which has recently increased its military presence as a show of support for Qatar following the decision by Saudi Arabia, Bahrain, United Arab Emirates and Egypt to severe political ties. 
          <br>
          <br>
          Qatar recognises the national coalition of the Syrian revolution and opposition forces as the legitimate leader of the Syrian people. Support of Islamic State groups within Syria shown via Qatari funding.
          </div>

    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">
          Allies through trade :
        </h6>
      </div>
      <div class="content">
        Major export destinations: Japan, South Korea, India, China
          <br>
          <br>
          Major import sources: China, France, UK, US, UAE
          <br>
          <br>
          Only land border is Saudi Arabia
          <br>
          <br>
          Borders sea with UAE, Bahrain and Iran
      </div>
    </li>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">
          Enemies :
        </h6>
      </div>
      <div class="content">
        Saudi Arabia, United Arab Emirates, Egypt and Bahrain have installed a blockade against the country in opposition to Qatari involvement with terrorist support and its encouragement of internal dissent in fellow Arab nations. Encouragement done through financial backing of opposition groups such as the Muslim Brotherhood, Coalition group in Syria or Islamic State.
          <br>
          <br>
          Demands were issued by Saudi Arabia to cut ties with terrorist groups and Iran, shut down Al Jazeera and reduce Turkey’s military footprint within the nation. Full land blockade in place and air spaces are banned to Qatari aircraft. Allegations of terrorist support has been denied,
          <br>
          <br>
          I have had a turbulent introduction to the rule of Qatar. The year after my inauguration, 2014, my nation was criticised for maintaining supposed connections with numerous terrorist groups by our neighbours: Saudi Arabia; the UAE; and Bahrain. Following the Emir’s rise to power, an Egyptian coup unseated President Mohamed Morsi, which had Qatari backing. His opposition obtained support from Saudi Arabia and UAE as the former president’s Muslim Brotherhood a threat to regional stability. Emir Tamim chose to continue support for Muslim Brotherhood instead of showing support for the opposition backed by Qatar’s Gulf neighbours. 
          <br>
          <br>
          This rift was fixed until only recently this year, when the Qatar News Agency was hacked and comments supporting threatening groups from the Middle East such as Hezbollah and Iran were posted and attributed to my name. The posts also suggested that it was my belief that US President Donald Trump was not fit for his role, all beliefs which I have strongly denied. Despite these denials, Saudi Arabia, the UAE, Bahrain and Egypt have all cut ties with Qatar, as well as Yemen and the Maldives, on the grounds we are destabilising the region. Oman and Kuwait are the only remaining Gulf Cooperation Council members with remaining ties to Qatar. Qatar’s relations with the US and President Trump remain in tact.
          <br>
          <br>
          The implications of these severed ties mean no supply of produce such as milk, eggs, cheese, or chicken, which are all sourced from Saudi Arabia, our only land border neighbour. Qatar airways has been banned from using the airspace of any of the nations with which our ties are cut, meaning longer flight paths to bypass these airspaces, and more fuel used. Also, all Qatari citizens have been exiled from all the above nations except for Egypt, which currently holds around a quarter of a million Qataris, while all Saudis have been ordered by the empire to evacuate Qatar. 
          <br>
          <br>
          Despite strong US presence in the region, Saudi Arabia’s move to cut political ties with Qatar was supported by Donald Trump.
          <br>
          <br>
          From the day of my inauguration speech I pledged “a mixture of continuity and change”, focusing on domestic development and humility in foreign affairs as one of the world’s wealthiest states. My family and I as the rulers of our nation have always maintained a strong belief in maintaining connections with the Islamic Republic as well as the likes of rebels in Libya and Syria, much to the alarm of our neighbours. But we believe strong connections and an open dialogue are the best way to stimulate cooperation and thus we will continue with this ideology. 

        </div>
    </li>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">
           Personal characteristics and views :
        </h6>
      </div>
      <div class="content">
        According to a diplomatic source close to the Al Thani family, Sheikh Tamim has "a strong personality" that allowed him to "establish himself within the ruling family" despite not being the family's first choice for Emir. He is described as friendly, confident, and open by those who know him. He is also described as savvy, careful, and conservative. In addition, he is considered to be a pragmatist, and to have "excellent relations" with the West, including the United States and France.
        <br>
        <br>
        Political analysts expected Tamim to be more conservative and risk-averse than his father.Because Tamim is very close to the Muslim Brotherhood, preserving a national identity grounded in Islamic traditional values has been Tamim's first priority.
      </div>
  </ul>

</div>
  <!-- end of timeline -->



   <!-- set a side bar -->


   <div class="contact-info">
    <div class="option">
        <i class="fa fa-home"></i>
        <a class="text" href="#">Home</a>              
    </div>

    <div class="option">
        <i class="fas fa-book-open"></i>
        <a class="text" href="scenario">Scenario</a>              
    </div>

    <div class="option">
        <i class="fas fa-user-alt"></i>
        <a class="text" href="RolePage">Role</a>              
    </div>


    <div class="option">
        <i class="fa fa-envelope" ></i>   
        <a class="text" href="email">Email</a>      

    </div>

    <div class="option">
        <i class="fab fa-twitter-square"></i>
        <a class="text" href="tweet">Tweet</a>  

    </div>

    <div class="option">
        <i class="fas fa-newspaper"></i>
        <a class="text" href="news">News</a>  
    </div>

    <div class="option">
        <i class="fas fa-comment-alt"></i>
        <a class="text" href="chat">Chat</a> 
    </div>

    <div class="option">
        <i class="fa fa-cog"></i>
        <a class="text" href="control">Control</a> 

    </div>

  </div>

