// // ============= Setting diary style ===================================

// // #box1,#box2,#box3,#box4,#box5,#box6
// // {
// //   position:absolute;
// // }

// *{
//   margin:0;
//   padding:0;
// }
// body{
//   font-size:100%;
//   margin:3em;

// }
// h2,p{
//   font-size:100%;
//   font-weight:normal;
// }
// ul,li{
//   list-style:none;
// }
// ul{
//   overflow:hidden;
//   padding:3em;
// }


// ul li a{
//   text-decoration:none;
//   color:#000;
//   background:#F1F1F1;
//   display:block;
//   height:350px;
//   width:280px;
//   padding:1em;
//   /* Firefox */
//   -moz-box-shadow:5px 5px 7px rgba(20,20,20,1);
//   /* Safari+Chrome */
//   -webkit-box-shadow: 5px 5px 7px rgba(20,20,20,.5);
//   /* Opera */
//   box-shadow: 5px 5px 7px rgba(20,20,20,.5);
//   -webkit-transform:rotate(-6deg);
//   -o-transform:rotate(-6deg);
//   -moz-transform:rotate(-6deg);
//   -moz-transition:-moz-transform .15s linear;
//   -o-transition:-o-transform .15s linear;
//   -webkit-transition:-webkit-transform .15s linear;
// }
// ul li{
//   margin:1em;
//   float:left;
// }
// ul li h2{
//   font-size:140%;
//   font-weight:bold;
//   padding-bottom:20px;
// }
// ul li p{
//   font-size:120%;
// }
// ul li:nth-child(even) a{
//   -o-transform:rotate(4deg);
//   -webkit-transform:rotate(4deg);
//   -moz-transform:rotate(4deg);
//   position:relative;
//   top:5px;
// }
// ul li:nth-child(3n) a{
//   -o-transform:rotate(-3deg);
//   -webkit-transform:rotate(-3deg);
//   -moz-transform:rotate(-3deg);
//   position:relative;
//   top:-5px;
// }
// ul li:nth-child(5n) a{
//   -o-transform:rotate(5deg);
//   -webkit-transform:rotate(5deg);
//   -moz-transform:rotate(5deg);
//   position:relative;
//   top:-10px;
// }
// ul li a:hover,ul li a:focus{
//   -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
//   -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
//   box-shadow:10px 10px 7px rgba(0,0,0,.7);
//   -webkit-transform: scale(1.25);
//   -moz-transform: scale(1.25);
//   -o-transform: scale(1.25);
//   position:relative;
//   z-index:5;
// }
// ============= button ===================================
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #d2b99e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-top:30px;
  vertical-align:middle;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '+';
  font-size: 19px;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover{
  background-color:#5c2731;
}
.button:hover span {
  padding-right: 25px;

}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
// ============= Adjust the Side-bar ===================================

.contact-info{
  position: fixed;
  top: 40%;
  z-index: 99999;
  left: 0;

}
.option{
  cursor: pointer;
  position: relative;
}
.option i{
  display: block;
  width: 60px;
  text-align: center;
  height: 55px;
  line-height: 40px;
  background: transition;
  color: #454552;
  font-size: 19px;
  transition: 0.6s;
}
.option:hover i{

  color: #FD999A;
}
.text{
  position: absolute;
  height: 60px;
  width: 120px;
  background:  transition;
  top: 0;
  z-index: -1;
  left: -130px;
  color: #454552;
  line-height: 40px;
  text-align: center;
  transition: 0.6s;
  font: bold;
}
option.a{
  position: absolute;
  height: 60px;
  width: 120px;
  background: #454552;
  top: 0;
  z-index: -1;
  left: -140px;
  color: #f2e9e1;
  line-height: 60px;
  text-align: center;
  transition: 0.6s;
  font: bold;
}

.option:hover .text{
  left: 40px;
}



