 <!-- <meta http-equiv="refresh" content=15> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">


 <!-- Set the main content -->
 <!-- Adding a diary container -->


   <!-- set a side bar -->

   <div class="contact-info">
    <div class="option">
        <i class="fa fa-home"></i>
        <a class="text" href="#">Home</a>
    </div>

    <div class="option">
        <i class="fas fa-book-open"></i>
        <a class="text" routerLink="/scenario">Scenario</a>
    </div>

    <div class="option">
        <i class="fas fa-user-alt"></i>
        <a class="text" routerLink="/RolePage">Role</a>
    </div>


    <div class="option">
        <i class="fa fa-envelope" ></i>
        <a class="text" routerLink="/email">Email</a>

    </div>

    <div class="option">
        <i class="fab fa-twitter-square"></i>
        <a class="text" routerLink="/tweet">Tweet</a>

    </div>

    <div class="option">
        <i class="fas fa-newspaper"></i>
        <a class="text" routerLink="/news">News</a>
    </div>

    <div class="option">
        <i class="fas fa-comment-alt"></i>
        <a class="text" routerLink="/chat">Chat</a>
    </div>

    <div class="option">
        <i class="fa fa-cog"></i>
        <a class="text" routerLink="/control">Control</a>

    </div>

  </div>


  <!--dairy main content begin-->

  <a class="button"  href="javascript:location=location;"  title="Create Your First Note">
    <span>SHOW NOTE  </span>
  </a>

  <div>
    <br>
    1, if you close all your notes, please click the button
    <br>
    2, clicking the "X" will only close the note, not delete it.
    <br>
    3. To delete your notes, click on "Remove Note."
    <br>
    4. To add a note, click on "New Note".
    <br>
      </div>


  <div id="label_container">


  </div>

<!--dairy main content end-->

