<!-- <meta http-equiv="refresh" content=15> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">


<!-- Set the main content -->
<!-- Adding a diary container -->



<!--dairy main content begin-->

<a href="/diary" title="Create Your First Note" class="button">
    <span>SHOW NOTE </span>
</a>

<div>
    <br>
    1. if you close all your notes, please click the button
    <br>
    2. clicking the "X" will only close the note, not delete it.
    <br>
    3. To delete your notes, click on "Remove Note."
    <br>
    4. To add a note, click on "New Note".
    <br>
</div>


<div id="label_container">


</div>

<!--dairy main content end-->