
.note-container {
    position: absolute;
    width: 300px;
    height: 380px;
    background-color: #F1F1F1;
    box-shadow: 0 3px 10px rgba(0,0,0,.25);
    border-radius: 5px;
    overflow: hidden;
  }

  .note-title {
    position: relative;
    width: 100%;
    color: #F2E9E1;
    background-color: #6E7783;
    user-select: none;
    cursor: default;
  }
  
  .note-title h6 {
    margin: 0;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
  }

  .note-title .btn-close {
    position: absolute;
    height: 40px;
    width: 40px;
    line-height: 40px;
    right: 0;
    top: 0;
    color: #F2E9E1;
    text-align: center;
    text-decoration: none;
  }

  .note-title .btn-close:hover {
    background-color: #C9D6D5;
    color: #F2E9E1;
  }

  .note-content {
    height: 300px;
    padding: 10px;
    overflow-y: auto;
    outline: none;
  }

  .note-footer {
    height: 40px;
    line-height: 40px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  
  .note-footer .btn-new,
  .note-footer .btn-remove {
    flex: 1;
    width: 40px;
    height: 40px;
    color: #F2E9E1;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    outline: none;
    border: none;
    background-color: #6E7783;
  }

  .note-footer .btn-new:hover,
  .note-footer .btn-remove:hover {
    opacity: 0.7;
    color: #C9D6D5;
  }