<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<div id="container">
	<app-chat-list [users]="userList" [chatRoomsList]="chatRoomsList" (setSelectedUser)="setSelectedUser($event)"></app-chat-list>
	<main>
		<div *ngIf="selectedUser && selectedUser.id">
			<header>
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
				<div>
					<h2>Chat with {{selectedUser.name}}</h2>
				</div>
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_star.png" alt="">
			</header>
			<div  id="chat-container">
				<ul>
					<li [ngClass]="{'you': item.sender === selectedUser.id, 'me': item.sender == currentUser.id}"
					*ngFor="let item of messagesList; let i = index" [attr.data-index]="i">
					<div class="entete">
						<span class="status green"></span>
						<h2 *ngIf="currentUser.id === item.sender">{{currentUser.name}}</h2>
						<h2 *ngIf="selectedUser.id === item.sender">{{currentUser.name}}</h2>
						<h3>{{item.date  | date:'HH-mm'}}</h3>
					</div>
					<div class="triangle"></div>
					<div class="message">
						{{item.message}}
					</div>
					</li>
				</ul>
			</div>
			<footer>
				<textarea placeholder="Type your message"  [(ngModel)]="messageTxt"></textarea>
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png" alt="">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png" alt="">
				<button (click)="onMessageChange($event)" class="send-button">Send</button>
			</footer>
		</div>
	</main>
</div>
