<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

<div class ="left">
<div class="img"></div>

<div class="info">
      <h5>Vladimir Putin</h5>
      <h6>President,   Europe - Russia</h6>
</div>
</div>


<div class="right">

<ul class="timeline">
    <li class="timeline__line"></li>
    <li class="timeline__item start">
      <div class="info">
        <div class="dot"></div>
        <!-- <time class="time">Biography:</time> -->
        <h6 class="title">Vladimir Putin</h6>
        <br>
      </div>
      <li class="timeline__item">
        <div class="info">
          <div class="dot"></div>
          <!-- <time class="time">09:30</time> -->
          <!-- <h4 class="speaker">陈慧晶</h4> -->
          <h6 class="title">
            Biography:
          </h6>
        </div>
        <div class="content">
          Vladimir Vladimirovich Putin was born on October 7th, 
          1952 in Leningrad in the Union of Soviet Socialist Republics A.K.A USSR 
          (now St. Petersburg in the Russian Federation). 
          Putin is the youngest of three children by Vladimir Spiridonovich Putin (1911–1999) and Maria Ivanovna Putina (1911–1998).
          <br>
          <br>
         From ages 7-15 (1960-1968), Vladimir Putin attended Primary School No. 193 in Leningrad. 
         After 1968 he attended Leningrad High School No. 281. A school that was a “chemistry- focused magnet school”. 
         Putin completed his studies at High School No. 281 1970 at the age of 17.
         <br>
         <br>
         In the 1970’s Putin entered higher tertiary education. 
         Beginning his higher education as a law student at Leningrad State University, finishing his degree in 1975. 
         Sometime in the late 1970’s-early 1980’s Putin studied at the KGB (Soviet Union’s main intelligence agency) School No. 1 (A.K.A the Andropov Institute) in Moscow. 
         He then worked as a foreign intelligence officer for 15 years. 
         Before returning to Russia to retire from active KGB service with the rank of lieutenant colonel. 
         During this time, he had met and married Lyudmila Shkrebneva. Additionally, producing two daughters, Maria (1985) and Katerina (1986).
         <br>
         <br>
         After returning to Leningrad in 1990 Putin found a job as assistant (prorector) to the rector of Leningrad State University. 
         Putin then became an advisor to Anatoly Sobchak, the first mayor of St. Petersburg to be democratically elected. 
         By 1994 Putin held the post of first deputy mayor. By 1996 Putin had moved himself and his family to Moscow to join presidential staff as deputy to Pavel Borodin, the Kremlin’s chief administrator. 
         From this point on Putin’s political career rose rapidly. March 1997, Putin is appointed Deputy Chief of Staff of the Presidential Executive Office and Chief of Main Control Directorate. July 1998, Putin is appointed Director of the Federal Security Service by Russian President, Boris Yeltsin (the domestic branch of the KGB’s successor). 
         Shortly after becoming Secretary of the Security Council of the Russian Federation. Then in August 1999, Putin is offered the job of Prime Minister of Russia by the then Russian President Boris Yeltsin, which Putin accepts. December 31 1999, Boris Yeltsin steps down as President, making Putin the acting president.
         <br>
         <br>
         Putin stayed as acting President until the official elections were held in March 2000. He won this election and continued his role as President. 
         In the 2004 elections Putin was once again re-elected. However, due to term limits within the Russian constitution he was prevented re- election in 2008. 
         Instead Dmitry Medvedev ran for president. Upon winning the election Medvedev appointed Putin as Russia's prime minister. 
         In the 2012 Russian election, Putin was once again re-elected to perform a third-term as President.
        </div>
      </li>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <time class="time">10:20</time>
        <h4 class="speaker">大漠</h4>
        <h4 class="title">
            剖析css-tricks新版，为你所用
        </h4>
      </div>
      <div class="content">
        新版css-tricks.com网站在社交媒体上得到众多好评，今天我们就一起来聊聊这次改版中运用到的一些新特性，这些新特性对用户体验带来什么样的改变，我们又如何将这些新特性运用于自己的项目中。
      </div>
    </li>
    <li class="timeline__item break">
      <div class="info">
        <div class="dot"></div>
        <time class="time">12:00</time>
        <h4 class="title">午餐</h4>
      </div>
    </li>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <time class="time">13:00</time>
        <h4 class="speaker">张鑫旭</h4>
        <h4 class="title">
            CSS创意与视觉表现
        </h4>
      </div>
      <div class="content">
        CSS的有趣之处就在于最终呈现出来的技能强弱与你自身的思维方式，创造力是密切相关的，本次分享通过一些精彩的案例，展现创意如何让CSS的视觉表现变得更有趣的。
      </div>
    </li>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <time class="time">14:00</time>
        <h4 class="speaker">袁川</h4>
        <h4 class="title">
            CSS生成艺术
        </h4>
      </div>
      <div class="content">
        虽然在 CSS
        里不能直观地绘制出一条曲线，或者动态生成许多元素，我们仍然可以利用 CSS
        属性自身的特性，结合一些基本方法和想象力生成出非常有趣的图形，进行艺术创作。此次演讲就把这些过程和所使用的方法分享给大家。
      </div>
    </li>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <time class="time">14:50</time>
        <h4 class="speaker">勾三股四</h4>
        <h4 class="title">
            你不知道的五个 CSS 新特性
        </h4>
      </div>
      <div class="content">
        分享五个讲者在近期学习标准的过程中，发现的鲜为人知的 CSS
        特性，并通过相关代码、示例和故事，帮助大家发掘 CSS 更多的乐趣和用武之地。
      </div>
    </li>
    <li class="timeline__item break">
      <div class="info">
        <div class="dot"></div>
        <time class="time">15:40</time>
        <h4 class="title">Coffee Time</h4>
      </div>
    </li>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <time class="time">16:20</time>
        <h4 class="speaker">Brian Birtles</h4>
        <h4 class="title">
            10 things I wish CSS authors knew about animations
        </h4>
      </div>
      <div class="content">
        动画可以让你的网站或 app
        更加自然、有趣、优美，但动画本身也可能是困难、缓慢、使人不悦的。让我们来一起看看一些浏览器发行者们希望作者们知道的，关于动画常见的误解、不为人知的特性、以及即将到来的技术。
      </div>
    </li>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <time class="time">17:30</time>
        <h4 class="speaker">陈在真</h4>
        <h4 class="title">
            CSS TIME
        </h4>
      </div>
      <div class="content">
        时间概念对于动画而言犹如灵魂一般，在WEB CSS中同样存在着时间范畴，Duration?
        Delay?
        究竟CSS的时间概念存在于哪些地方，又能起到哪些作用？我们将基于Demo实例由浅入深逐一分析CSS
        TIME，也许从此你对它会有新的认知。
      </div>
    </li>
    <li class="timeline__item end">
      <div class="info">
        <div class="dot"></div>
        <time class="time">18:30</time>
        <h4 class="title">结束</h4>
      </div>
    </li>
  </ul>
  <!-- partial -->
</div>




   <!-- set a side bar -->


   <div class="contact-info">
    <div class="option">
        <i class="fa fa-home"></i>
        <a class="text" href="#">Home</a>              
    </div>

    <div class="option">
        <i class="fas fa-book-open"></i>
        <a class="text" href="scenario">Scenario</a>              
    </div>

    <div class="option">
        <i class="fas fa-user-alt"></i>
        <a class="text" href="RolePage">Role</a>              
    </div>


    <div class="option">
        <i class="fa fa-envelope" ></i>   
        <a class="text" href="email">Email</a>      

    </div>

    <div class="option">
        <i class="fab fa-twitter-square"></i>
        <a class="text" href="tweet">Tweet</a>  

    </div>

    <div class="option">
        <i class="fas fa-newspaper"></i>
        <a class="text" href="news">News</a>  
    </div>

    <div class="option">
        <i class="fas fa-comment-alt"></i>
        <a class="text" href="chat">Chat</a> 
    </div>

    <div class="option">
        <i class="fa fa-cog"></i>
        <a class="text" href="control">Control</a> 

    </div>

  </div>

