<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>

<script>

const firebaseConfig = {
  apiKey: "AIzaSyBpZP0vtQZIKZrkZuHwNfIW4GXzVZlvt60",
  authDomain: "m-e-p-s.firebaseapp.com",
  databaseURL: "https://m-e-p-s.firebaseio.com",
  projectId: "m-e-p-s",
  storageBucket: "m-e-p-s.appspot.com",
  messagingSenderId: "976589682380",
  appId: "1:976589682380:web:ca2135138b6f1a3d",
  measurementId: "G-ECJLLF7W41"
};
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    const db = firebase.firestore();
    db.settings({timestampsInSnapshots: true});
    
 
     db.collection("Roles").doc("JTL3Ll6I3lt1FRQo5rKW").get().then(function(doc) {
      if (doc.exists) {
          console.log("Document data:", doc.data());
      } else {
           //doc.data() will be undefined in this case
          console.log("No such document!");
      }
  }).catch(function(error) {
      console.log("Error getting document:", error);
  });
  
  </script>
  
  <script src="app.js>"></script>>
 

<div class ="left">
<div class="img"></div>

<div class="info">
      <h5>Vladimir Putin</h5>
      <h5>
        <script type="text/javascript">
          document.write(abc)
        </script>
      </h5>
      <h6>President,   Europe - Russia</h6>



</div>
</div>

<!-- timeline -->
<div class="right">

<ul class="timeline">
    <li class="timeline__line"></li>
    <li class="timeline__item start">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">Vladimir Putin</h6>
        <br>
      </div>
      <li class="timeline__item">
        <div class="info">
          <div class="dot"></div>

          <h6 class="title">
            Biography :
          </h6>
        </div>
        <div class="content">
          Vladimir Vladimirovich Putin was born on October 7th,
          1952 in Leningrad in the Union of Soviet Socialist Republics A.K.A USSR
          (now St. Petersburg in the Russian Federation).
          Putin is the youngest of three children by Vladimir Spiridonovich Putin (1911–1999) and Maria Ivanovna Putina (1911–1998).
          <br>
          <br>
         From ages 7-15 (1960-1968), Vladimir Putin attended Primary School No. 193 in Leningrad.
         After 1968 he attended Leningrad High School No. 281. A school that was a “chemistry- focused magnet school”.
         Putin completed his studies at High School No. 281 1970 at the age of 17.
         <br>
         <br>
         In the 1970’s Putin entered higher tertiary education.
         Beginning his higher education as a law student at Leningrad State University, finishing his degree in 1975.
         Sometime in the late 1970’s-early 1980’s Putin studied at the KGB (Soviet Union’s main intelligence agency) School No. 1 (A.K.A the Andropov Institute) in Moscow.
         He then worked as a foreign intelligence officer for 15 years.
         Before returning to Russia to retire from active KGB service with the rank of lieutenant colonel.
         During this time, he had met and married Lyudmila Shkrebneva. Additionally, producing two daughters, Maria (1985) and Katerina (1986).
         <br>
         <br>
         After returning to Leningrad in 1990 Putin found a job as assistant (prorector) to the rector of Leningrad State University.
         Putin then became an advisor to Anatoly Sobchak, the first mayor of St. Petersburg to be democratically elected.
         By 1994 Putin held the post of first deputy mayor. By 1996 Putin had moved himself and his family to Moscow to join presidential staff as deputy to Pavel Borodin, the Kremlin’s chief administrator.
         From this point on Putin’s political career rose rapidly. March 1997, Putin is appointed Deputy Chief of Staff of the Presidential Executive Office and Chief of Main Control Directorate. July 1998, Putin is appointed Director of the Federal Security Service by Russian President, Boris Yeltsin (the domestic branch of the KGB’s successor).
         Shortly after becoming Secretary of the Security Council of the Russian Federation. Then in August 1999, Putin is offered the job of Prime Minister of Russia by the then Russian President Boris Yeltsin, which Putin accepts. December 31 1999, Boris Yeltsin steps down as President, making Putin the acting president.
         <br>
         <br>
         Putin stayed as acting President until the official elections were held in March 2000. He won this election and continued his role as President.
         In the 2004 elections Putin was once again re-elected. However, due to term limits within the Russian constitution he was prevented re- election in 2008.
         Instead Dmitry Medvedev ran for president. Upon winning the election Medvedev appointed Putin as Russia's prime minister.
         In the 2012 Russian election, Putin was once again re-elected to perform a third-term as President.
        </div>
      </li>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>

        <h6 class="title">
            Allies ：
        </h6>
      </div>
      <div class="content">
        Has proven capable of building alliances with countries where traditionally Western powers have failed.1
          <br>
          <br>
          Syria – Russia intervened militarily to support the Syrian President in his fight against ISIL and anti-government rebels.
          <br>
          <br>
          China – Putin has been looking to strengthen ties with China, mainly economically and especially with energy. Also using a strong relationship with China to counterbalance the US.
          <br>
          <br>
          Iran – Russia has worked on having a working relationship with Iran.
          <br>
          <br>
          Turkey and Saudi Arabia – Russia’s position as a major supplier of natural gas and oil. Has attracted these countries to form closer relations. Despite disagreements in other areas.
      </div>

    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">
            Enemies :
        </h6>
      </div>
      <div class="content">
        A study conducted in Russia 2016, found that the Russian people believe the US, Ukraine and Turkey are the greatest enemies of Russia.2
          <br>
          <br>
          USA – 72of Russians surveyed believed the US to be an enemy. Ukraine – 48of Russians surveyed believed Ukraine to be an enemy. Turkey – 29of Russians surveyed believed Turkey to be an enemy.
      </div>
    </li>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">
            Beliefs :
        </h6>
      </div>
      <div class="content">
        The BBC states, ‘It describes itself as centrist and conservative, basing its ideology on traditional Russian values and the notion of Russia's unique identity’3.
          <br>
          <br>
          The ‘it’ refers to the United Russia party of which Vladimir Putin is a member and is currently the party holding the majority in the Russian duma (lower house of parliament).
          <br>
          <br>
          Putin’s beliefs are also presented in how he has presented himself in the media:The president presents himself as a strong leader who took Russia out of the economic, social and political crisis of the 1990s and defends Russia's national interests, particularly against what he portrays as Western attempts to corner and foist cultural values on it.
      </div>
    </li>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">
            Ambitions :
        </h6>
      </div>
      <div class="content">
        Putin’s ambitions are largely based upon the ambitions of the United Russia party, of which Vladimir Putin was chairman of from 2007-2012. The main/long term ambitions are as follows. Russian political and socio-economic stability, with simultaneous revival of Russia's status as a superpower.
      </div>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">
          Putin in Sim:
        </h6>
      </div>
      <div class="content">
      Putin will above all be looking to protect Russian national interests with little exception. He will also be looking to advance Russia’s standing on the world. Be that through military intervention or economics. Will most likely be looking to advance alliances with countries and peoples that the West (US and European nations) would be unwilling to align themselves with. Overlooking problems in a region or government if it means giving Russia an edge. Additionally, he is not afraid to (within reason) to be at odds with western powers. Decisions taken by Putin may seem to be right wing conservative in the eyes of other nations.
      </div>
  </ul>

</div>
  <!-- end of timeline -->



   <!-- set a side bar -->



   <div class="contact-info">
    <div class="option">
        <i class="fa fa-home"></i>
        <a class="text" href="#">Home</a>
    </div>

    <div class="option">
        <i class="fas fa-book-open"></i>
        <a class="text" routerLink="/scenario">Scenario</a>
    </div>

    <div class="option">
        <i class="fas fa-user-alt"></i>
        <a class="text" routerLink="/RolePage">Role</a>
    </div>


    <div class="option">
        <i class="fa fa-envelope" ></i>
        <a class="text" routerLink="/email">Email</a>

    </div>

    <div class="option">
        <i class="fab fa-twitter-square"></i>
        <a class="text" routerLink="/tweet">Tweet</a>

    </div>

    <div class="option">
        <i class="fas fa-newspaper"></i>
        <a class="text" routerLink="/news">News</a>
    </div>

    <div class="option">
        <i class="fas fa-comment-alt"></i>
        <a class="text" routerLink="/chat">Chat</a>
    </div>

    <div class="option">
        <i class="fa fa-cog"></i>
        <a class="text" routerLink="/control">Control</a>

    </div>

  </div>
