<div class="row mt-4">
    <div class="col-12">
        <h4>Role Tool</h4>
    </div>

    <div class="col-12">
        <div class="row" *ngIf="authError">
            <div class="col-12 alert alert-danger">
                {{ authError?.message }}
            </div>
        </div>
        <form #roleForm="ngForm" (ngSubmit)="add()">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <input [(ngModel)]="role.roleName" name="roleName" type="text" class="form-control" id="roleName" placeholder="Position">
                </div>
                <div class="col-md-12 mb-2">
                    <select [(ngModel)]="role.ofCountry" name="ofCountry" type="text" class="form-control" id="ofCountry">
                        <option value="" disabled selected>Select an affiliate or country</option>
                        <option *ngFor="let affiliate of affiliates" [value]="affiliate.countryName">{{affiliate.countryName}}</option>
                    </select>
                </div>

                <div class="col-md-6 mb-2">
                    <input [(ngModel)]="role.firstName" name="role.firstName" type="text" class="form-control" id="firstName" placeholder="First name">
                </div>
                <div class="col-md-6 mb-2">
                    <input [(ngModel)]="role.lastName" name="role.lastName" type="text" class="form-control" id="lastName" placeholder="Last name">
                </div>
            </div>

            <div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit">Create</button>
                        <button type="button" (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
