<div class="row mt-4">
    <div class="col-12">
        <h4>Create Role</h4>
    </div>

    <div class="col-12">
        <form #roleForm="ngForm" (ngSubmit)="add()">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <input [(ngModel)]="role.title" name="title" type="text" class="form-control" id="title" placeholder="Title">
                </div>
                <div class="col-md-12 mb-2">
                    <select [(ngModel)]="role.affiliateID" name="role.affiliateID" type="text" class="form-control" id="affiliation">
                        <option  value="" selected disabled>Select an affiliate</option>
                        <option *ngFor="let affiliate of affiliates" [value]="affiliate.id">{{affiliate.name}}</option>
                    </select>
                </div>

                <div class="col-md-12 mb-2">
                    <input [(ngModel)]="role.firstName" name="role.firstName" type="text" class="form-control" id="firstName" placeholder="First name">
                </div>
                <div class="col-md-12 mb-2">
                    <input [(ngModel)]="role.lastName" name="role.lastName" type="text" class="form-control" id="lastName" placeholder="Last name">
                </div>
                <div class="col-md-12 mb-2">
                    <input [(ngModel)]="role.twitterHandle" name="role.twitterHandle" type="text" class="form-control" id="twitterHandle" placeholder="Twitter Handle">
                </div>
                <div class="col-md-12 mb-2">
                    <input [(ngModel)]="role.email" name="role.email" type="text" class="form-control" id="roleEmail" placeholder="Role Email">
                </div>
            </div>

            <div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit">Create</button>
                        <button type="button" (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
