<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

<div class ="left">
<div class="img"></div>

<div class="info">
      <h5>Hamad bin Isa bin Salman Al Khalifa</h5>
      <h6>King of Bahrain,   Gulf State - Bahrain</h6>
</div>
</div>

<!-- timeline -->
<div class="right">

<ul class="timeline">
    <li class="timeline__line"></li>
    <li class="timeline__item start">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">Hamad bin Isa bin Salman Al Khalifa</h6>
        <br>
      </div>
      <li class="timeline__item">
        <div class="info">
          <div class="dot"></div>

          <h6 class="title">
            Early life and education :
          </h6>
        </div>
        <div class="content">
          Hamad bin Isa Al Khalifa was born on 28 January 1950 in Riffa, Bahrain. His parents were Isa bin Salman Al Khalifa, then Crown Prince, and Hessa bint Salman Al Khalifa.
          <br>
          <br>
          After attending Manama secondary school in Bahrain, Hamad was sent to England to attend Applegarth College in Godalming, Surrey before taking a place at The Leys School in Cambridge. Hamad then underwent military training, first with the British Army at Mons Officer Cadet School at Aldershot in Hampshire, graduating in September 1968. Four years later, in June 1972, Hamad attended the United States Army Command and General Staff College at Fort Leavenworth in Kansas, graduating the following June with a degree in leadership.

        </div>
      </li>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>

        <h6 class="title">
          Crown prince ： 
        </h6>
      </div>
      <div class="content">
        Hamad was designated as heir apparent by his father on 27 June 1964. In 1968, he was appointed as the chairman of the irrigation council and Manama municipal council. He was commissioned into the Bahrain National Guard on 16 February 1968 and appointed as its commander the same year, remaining in that post until 1969 when he was appointed as the commander-in-chief of the Bahrain Defence Force. In 1970, Hamad became the head of the Bahraini department of defence and the vice-chairman of the administrative council, remaining in both offices until 1971. From 1971 to 1988 he was the minister of state for defence.
          <br>
          <br>
          In October 1977, Sheikh Hamad started learning to fly helicopters, successfully completing the training in January 1978. He then worked to establish the Bahrain Amiri Air Force,which came into being in 1987 when the defence force air wing was reconstituted as an air force.
      </div>

    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">
          Reign :
        </h6>
      </div>
      <div class="content">
        On the death of his father Isa bin Salman Al Khalifa, Hamad became Emir of Bahrain on 6 March 1999.As Emir, Hamad brought several political reforms to Bahrain. These included the release of all political prisoners, the dissolution of the State Security Court and the abolition of the 1974 Decree on State Security Measures. Additionally, many Bahraini citizens were permitted to return after several years in exile overseas.In 2002, he declared himself king. He enjoys wide executive authorities which include appointing the prime minister and his ministers, commanding the army, chairing the Higher Judicial Council, appointing the parliament's upper half and dissolving its elected lower half.
      </div>
    </li>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">
          Political turmoil :
        </h6>
      </div>
      <div class="content">
        After Hamad took power in 1999, he focused on attaining stability in a nation riddled with profound tensions after the 1990s uprising. The King succeeded in improving the living standards and in making Bahrain a financial hub. During the period 2003–2010 the Shi'ite community accused his government of corruption, discrimination in housing and jobs, recruiting foreigners to the military services and bringing Sunni tribes from Asia to change the demographic composition of the nation.
          <br>
          <br>
          Although King Hamad's reign has seen the admittance of Shi'ites into positions in the government, there have still been calls for a more equitable distribution of positions and jobs. The Al Khalifa family lead a large number of ministerial and governmental posts including the Ministry of the Interior,Ministry of Justice,the Ministry of Finance,the Ministry of Culture,the Ministry of Foreign Affairs,the Bahrain Economic Development Board and the Supreme Council for Women.Also, the vast majority of significant positions in the Bahrain Defence Force are filled with Sunnis,who account for around a third of the population.
          <br>
          <br>
          In October 2010, Hamad's government accused 24 Shi'ite Bahraini citizens of forming a terrorist cell linked to Iran and trained in Syria intending to overthrow the regime, and for planning terrorist attacks. Opposition parties denounced the accusations and described it as propaganda. After a few weeks, tension rose again after the controversial 2010 Bahraini parliamentary election when the main opposition bloc Al Wefaq National Islamic Society with secularist National Democratic Action Society (Waad) complained that the election system was unfair and that there were aims to reduce the number of opposition chairs in the parliament, although the first party won nearly 40% of the available seats.
      </div>
    </li>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">
          Israel :
        </h6>
      </div>
      <div class="content">
        In August 2020 King Hamad explained to visiting US Secretary of State Mike Pompeo that Bahrain is committed to the creation of a Palestinian state, implicitly rejecting the normalization of ties with Israel.However, on 11 September 2020, it was announced that Bahrain and Israel had agreed to establish full diplomatic relations. On September 15, 2020, Bahrain officially opened state to state relations with Israel, signing diplomatic agreements at a public ceremony at the White House in Washington, D.C.
      </div>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">
          Good relations with the British court:
        </h6>
      </div>
      <div class="content">
        King Hamad has good contacts with the British royal family. The king was invited by the British court to the wedding of Prince William, but declined amidst protests by human rights activists, who had pledged to disrupt his stay in Britain because of his violent response to demonstrators.
      </div>
  </ul>

</div>
  <!-- end of timeline -->



   <!-- set a side bar -->


   <div class="contact-info">
    <div class="option">
        <i class="fa fa-home"></i>
        <a class="text" href="#">Home</a>              
    </div>

    <div class="option">
        <i class="fas fa-book-open"></i>
        <a class="text" href="scenario">Scenario</a>              
    </div>

    <div class="option">
        <i class="fas fa-user-alt"></i>
        <a class="text" href="RolePage">Role</a>              
    </div>


    <div class="option">
        <i class="fa fa-envelope" ></i>   
        <a class="text" href="email">Email</a>      

    </div>

    <div class="option">
        <i class="fab fa-twitter-square"></i>
        <a class="text" href="tweet">Tweet</a>  

    </div>

    <div class="option">
        <i class="fas fa-newspaper"></i>
        <a class="text" href="news">News</a>  
    </div>

    <div class="option">
        <i class="fas fa-comment-alt"></i>
        <a class="text" href="chat">Chat</a> 
    </div>

    <div class="option">
        <i class="fa fa-cog"></i>
        <a class="text" href="control">Control</a> 

    </div>

  </div>

