<form>
  <div class="form-group form-inline">
    <input
      placeholder="Search email:"
      class="form-control ml-2"
      type="text"
      [formControl]="filter"
    />
  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" *ngIf="getTab() == 'send' || getTab() == 'draft'">To</th>
      <th scope="col" *ngIf="getTab() == 'inbox'">From</th>
      <th scope="col" *ngIf="getTab() == 'delete'">User</th>
      <th scope="col">Subject</th>
      <th scope="col">Body</th>
      <th scope="col">Date</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let email of emails$ | async; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td *ngIf="getTab() == 'inbox'">
        <ngb-highlight
          [result]="email.from.user"
          [term]="filter.value"
        ></ngb-highlight>
      </td>
      <td *ngIf="getTab() == 'send' || getTab() == 'draft'">
        <ngb-highlight
          [result]="email.to.user"
          [term]="filter.value"
        ></ngb-highlight>
      </td>
      <td *ngIf="getTab() == 'delete'">
        <ngb-highlight
          [result]="filterDeletePageSendReceive(email.from.user)"
          [term]="filter.value"
        ></ngb-highlight>
      </td>
      <td>
        <ngb-highlight
          [result]="email.subject"
          [term]="filter.value"
        ></ngb-highlight>
      </td>
      <td>
        <ngb-highlight
          [innerHtml]="htmlProperty(email.body)"
          [term]="filter.value"
        ></ngb-highlight>
      </td>
      <td>
        {{ email.date.seconds * 1000 | date: "dd-MM-yyyy" }}
      </td>
      <td>
        <button class="btn waves-effect waves-light red" (click)="deleteEmail(email, content)" *ngIf="getTab() == 'inbox' || getTab() == 'draft'" > <!-- SEAN: No longer see the delete button is the delete section, as requested by product owner-->
          Delete
        </button>
      </td>
      <td *ngIf="getTab() == 'draft'"> <!-- SEAN: Edit button to send the email back to compose-->
        <button class="btn waves-effect waves-light green" (click)="TransferEmailToCompose(email)">
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>Are you sure you want to delete this email?</h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn waves-effect waves-light red" (click)="modal.close(true)">Yes</button>
    <button type="button" class="btn waves-effect waves-light no-btn white" (click)="modal.close(false)">No</button>
  </div>
</ng-template>