.modal{
    box-shadow: none !important;
    background-color: transparent !important;
}
.close:focus{
    background-color: transparent !important;
}
.no-btn{
    color: black !important;
    margin-left: 15px !important;
}
#table{
    width: 110% !important;
}