<div *ngIf="user">
    <div class="ui">
        <button class="button" (click)="add()"><span>Add Affiliate  </span> </button>

    
        
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-striped col-12">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col" class="action">Action</th>
                    </tr>
                </thead>
                <tbody>
                   <!-- DOESN'T LOOK GOOD ON THE BROWSER BUT WORKS OK  -->
                   <tr *ngFor="let affiliate of affiliates">
                    <td *ngIf="!editState">{{affiliate.name}}</td>
                    <td *ngIf="!editState"><a [routerLink]="['/affiliate-edit',affiliate.id]">
                        <button value="Edit"
                            class="btn blue">Edit</button></a>
                    </td>
                    <td *ngIf="!editState">
                        <button value="{{affiliate.name}}"
                            class="btn blue" (click)="delete(affiliate.id)">Delete</button>
                    </td>
                    
                    
                        

                    <!--<form (ngSubmit)="update(affiliate)">
                        <td *ngIf="editState && itemToEdit.id == affiliate.id" id="abc">

                            <input *ngIf="itemToEdit.id == affiliate.id" type="text" name="countryName"
                                [(ngModel)]="affiliate.name">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td *ngIf="editState && itemToEdit.id == affiliate.id" id="def">

                            <input type="submit" name="" value="Update" class="btn orange">
                            <button (click)="clearState()" value="Cancel" class="btn red">Cancel</button>
                        </td>
                    </form>-->
                </tr>
            </tbody>
        </table>
    </div>

</div>
