// ====== UI botton =======
.button
{
    margin-top: 0;
    margin-bottom: 20px;
    height: 40px;
    left: 0;
    display: inline-block;
    border-radius: 4px;
    background-color: #FD999A;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    vertical-align:center;

}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '+';
    font-size: 15px;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover{
    background-color:#8ABBDB;
  }
  .button:hover span {
    padding-right: 25px;
    
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto 
{
padding: 0;
}
.table
{
   width: 870px;
   height: 1080px;
}
.list-group-item
{
    border: none;
    // border-bottom:1px solid  #6e7783;
    border-top:1px solid  #6e7783;
    // background-color:  #f2e9e1;
}
 .list-group-item-action
{
    // display: flex;
    // border: 1px solid #6e7783;
    padding-left: 140px;

}

.table th
{
    border: none;
}
.table td {
  border-top: none;
  border-bottom:1px solid  #6e7783;
}
td, th 
{
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

.table-striped tbody tr:nth-of-type(odd)
{
    background-color: #E1EEF6;
}

// .table .thead .th.action
// {
//     margin-left: 800px;
// }

// ===== button =======
.btn, .btn-large, .btn-small
{
    color: #ffffff;
   background-color: #8ABBDB!important;
   border-radius: 10px;
}

.btn:hover
{
    color: #ffffff;
    background-color: #FD999A !important;
}

