<div>
    <div class="ui">
        <button class="button" (click)="add()"><span>Add Affiliate </span> </button>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-striped col-12">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col" class="action">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let affiliate of affiliates">
                        <td *ngIf="!editState">{{affiliate.name}}</td>
                        <td *ngIf="!editState">
                            <a [routerLink]="['/affiliate-edit', affiliate.id]">
                                <button value="Edit" class="btn blue">Edit</button>
                            </a>
                            <p></p>
                            <button value="{{affiliate.name}}" class="btn blue" (click)="delete(affiliate.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>