body {
  max-width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align:center;

  li {
      text-align: center;
      display: inline;

      p {
          margin: 0;
      }

      p.tweet {
          font-weight: bold;
          font-size: 1.2rem;
      }
      p.userOrRole {
          text-transform: uppercase;
          font-size: .9rem;
          flex-grow: 1;
      }
      p.tweetDate {
          text-transform: uppercase;
          font-size: .9rem;
          flex-grow: 1;
      }
  }
}
// ============= Adjust the length of news content ===================
.grey.lighten-5
{
    width: 1040px;
}

// ============= Adjust the search box ===================================
// .col-md-12 
// {
//     margin-top: 25px;   
// }
#txtSearchNews
{    
    float: right;
    margin-right: 10%;
    border: none;
    background-color: #fafafa;
    // box-sizing: border-box;
    width: 30%;
    border: none;
    // padding: 0 10px;
    height: 50px;
    font-size: 16px;
    // border: 1px solid rgb(224, 224, 224);
    outline: none;
}

.search-btn
{
    float: right;
    height: 50px;
    width: 52px;
    padding: 0;
    border: none;
    background-color: #fafafa;
    color: #616161;
    font-size: 16px;
    // border: 1px solid rgb(224, 224, 224);
    border-right: 1px solid rgb(224, 224, 224);
}

::placeholder
{
    padding-left: 20px;
    font-size: 18px;
    padding-top: 10px;
    color: rgba(0, 0, 0, .3);
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto 
{
    padding: 0;
}

// ==================  Adjust the Enter Headline box  =========================

input[type=text]:not(.browser-default)
{
   background-color: #fafafa;
   margin-left: 13%;
   border: none;
   height: 50px;
   width: 60%;
   float: left;

}
// ==================  Adjust the news description box  =========================
#newsDescription
{
    width: 1040px;
    height: 200px;
    margin-left: 13%;
    background-color: #fafafa;
    border: none;

}
// ==================  Adjust the news =========================
.grey.lighten-5
{
  margin-left: 8%;
}

// ==================  Adjust the botton =========================
button[type="submit"]
{
 display: inline-block;
  width: 60%;
  border: none;
  outline: none ;
  height: 40px;
  font-size: 18px;    
  background: #c9d6de;
  cursor: pointer;
  color:  #6e7783;
  font-weight: bold;   
  margin-left: 690px;
}
button[type="submit"]:hover
{
    background-color: #6e7783;
    color:#f2e9e1;
}


// ============= Adjust the Side-bar ===================================

.contact-info{
    position: fixed;
    top: 40%;
    z-index: 99999;
    left: 0;
    
  }
  .option{
    cursor: pointer;
    position: relative;
  }
  .option i{
    display: block;
    width: 60px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    background: #f1f1f1;
    color: #b9b9b9;
    font-size: 20px;
    transition: 0.6s;
  }
  .option:hover i{
    color: #6F7784;
  }
  .text{
    position: absolute;
    height: 60px;
    width: 120px;
    background: #6F7784;
    top: 0;
    z-index: -1;
    left: -140px;
    color: #f2e9e1;
    line-height: 60px;
    text-align: center;
    transition: 0.6s;
  }
  option.a{
    position: absolute;
    height: 60px;
    width: 120px;
    background: #6F7784;
    top: 0;
    z-index: -1;
    left: -140px;
    color: #f2e9e1;
    line-height: 60px;
    text-align: center;
    transition: 0.6s;
  }
  
  .option:hover .text{
    left: 60px;
  }