<div class="row mt-4">
    <div class="col-12">
        <div class="row" *ngIf="authError">
            <div class="col-12 alert alert-danger">
                {{ authError?.message }}
            </div>
        </div>
        <form #newsCreateForm="ngForm" (ngSubmit)="createNews(newsDescription, newsHeadline, content)">
            <div class="row">
                <div class="d-flex flex-column flex-md-row justify-content-between w-100">
                    <div class="w-100">
                        <input ngModel #newsHeadline="ngModel" name="newsHeadline" type="text" class="form-control"
                            id="newsHeadline" placeholder="Enter Headline">
                    </div>
                    <div class="d-flex w-100">
                        <textarea [(ngModel)]="searchText" name="searchNews" type="text" class="form-control"
                            id="txtSearchNews" placeholder="Enter title to search"></textarea>

                        <button class="search-btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-12 mb-2">
                    <ckeditor name="content" [editor]="Editor" [config]="editorConfig" ngModel
                        #newsDescription="ngModel">
                    </ckeditor>
                </div>
                <div class="col-md-12">
                    <button class="submit-btn" type="submit">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>

    <div class="row text-fix" *ngFor="let newsItem of newsItems | filter : searchText">
        <!-- <div class="col-1">
            <img src="assets/img/roles/bahrain_king.jpg" alt="" class="circle responsive-img role-img">
        </div>-->
        <div class="col-12">
            <div class="card-panel ">
                <div class="card-content">
                    <p class="h1" [innerHtml]="newsItem.newsHeadline"></p>
                    <p class="grey-text">{{newsItem.userRole}} ({{newsItem.userName}})</p>
                    <div class="card-action">
                        <a>{{newsItem.newsDate.toDate() | date: 'medium'}}</a>
                    </div>
                    <!-- <p class="deep-purple-text" *ngIf="user.rolePosition === 'admin'">{{newsItem.firstName}} {{newsItem.lastName}}</p>-->
                    <p class="black-text" [innerHtml]="newsItem.newsDescription"></p>
                </div>
                <p class="deep-purple-text" >{{newsItem.firstName}} {{newsItem.lastName}}</p>
            </div>
        </div>
    </div>


<!-- alert box -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Alert</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6>News has been posted successfully</h6>
    </div>
</ng-template>