<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"> 
<div class="row">
  <div class="col-12">
    <ngb-tabset
      [destroyOnHide]="false"
      #tabsystem=""
      (tabChange)="tabstatus[$event.nextId] = true; setTab($event)"
    >
    <ngb-tab id="inbox" title="">
        <ng-template ngbTabTitle><span class="tab-title"> <!-- SEAN: swapped the location of inbox and compose, inbox will now appear first upon loading the page -->
          <i class="far fa-envelope"></i> &nbsp;Inbox</span> 
          </ng-template>
      <ng-template ngbTabContent>
        <div>
          <app-email-inbox [user]="user"></app-email-inbox>
        </div>
      </ng-template>
    </ngb-tab>

      <ngb-tab id="compose" title="">
          <ng-template ngbTabTitle><span class="tab-title">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp;Compose</span>
            </ng-template> <!-- SEAN: swapped the location of inbox and compose, compose will now appear as the second upon loading the page -->
        <ng-template ngbTabContent>
          <div>
            <app-email-compose [user]="user" [OptionalDraftEmail]="OptionalDraftEmail" (switchtab)="setTabEvent($event)"> </app-email-compose>  <!-- SEAN: Now listens back for an event requesting the UI to change Tabs -->
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="send" title="">
          <ng-template ngbTabTitle><span class="tab-title">
            <i class="far fa-paper-plane"></i> &nbsp;Sent</span>
            </ng-template>
        <ng-template ngbTabContent>
          <div *ngIf="tabstatus['send'] === true">
            <app-email-sent [user]="user"></app-email-sent>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="draft" title="">
          <ng-template ngbTabTitle><span class="tab-title">
            <i class="far fa-envelope-open"></i>&nbsp;Drafts</span>
            </ng-template>
        <ng-template ngbTabContent>
          <div *ngIf="tabstatus['draft'] === true">
            <app-email-drafts [user]="user" (ComposeToDraftRelay)="sendtocompose($event)"> </app-email-drafts>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="delete" title="">
          <ng-template ngbTabTitle><span class="tab-title">
            <i class="far fa-trash-alt"></i> &nbsp;Deleted</span>
            </ng-template>
        <ng-template ngbTabContent>
          <div *ngIf="tabstatus['delete'] === true">
            <app-email-deleted [user]="user"></app-email-deleted>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>