<div class="row">
  <div class="col-12">
    <ngb-tabset
      [destroyOnHide]="false"
      (tabChange)="tabstatus[$event.nextId] = true; setTab($event)"
    >
      <ngb-tab id="compose" title="Compose">
          <ng-template ngbTabTitle><span class="tab-title">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp;Compose</span>
            </ng-template>
        <ng-template ngbTabContent>
          <div>
            <app-email-compose [user]="user"></app-email-compose>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="inbox" title="Inbox">
          <ng-template ngbTabTitle><span class="tab-title">
              <i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp;Inbox</span>
            </ng-template>
        <ng-template ngbTabContent>
          <div *ngIf="tabstatus['inbox'] === true">
            <app-email-inbox [user]="user"></app-email-inbox>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="send" title="Sent">
          <ng-template ngbTabTitle><span class="tab-title">
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i> &nbsp;Sent</span>
            </ng-template>
        <ng-template ngbTabContent>
          <div *ngIf="tabstatus['send'] === true">
            <app-email-sent [user]="user"></app-email-sent>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="draft" title="Drafts">
          <ng-template ngbTabTitle><span class="tab-title">
              <i class="fa fa-envelope-open-o" aria-hidden="true"></i> &nbsp;Drafts</span>
            </ng-template>
        <ng-template ngbTabContent>
          <div *ngIf="tabstatus['draft'] === true">
            <app-email-drafts [user]="user"></app-email-drafts>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="delete" title="Deleted">
          <ng-template ngbTabTitle><span class="tab-title">
              <i class="fa fa-trash" aria-hidden="true"></i> &nbsp;Deleted</span>
            </ng-template>
        <ng-template ngbTabContent>
          <div *ngIf="tabstatus['delete'] === true">
            <app-email-deleted [user]="user"></app-email-deleted>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>

<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<div class="grid-container" style="margin-right: 1%;">
  <div id="div_a_1" class="clearfix">
    <div class="sidebar_menu_top clearfix">
      <li><a class="active">Inbox</a></li>
      <li><a>Sent</a></li>
      <li><a>Deleted</a></li>
      <li><a>Drafts</a></li>
      <li><a>Create new folder</a></li>
    </div>
    <div class="sidebar_menu_bottom">
      <li><a>Select All</a></li>
      <li><a>Set to Read</a></li>
      <li><a>Delete</a></li>
      <li><a>Move To</a></li>
      <li><a routerLink="/email-view">Create New Email</a></li>
    </div>
  </div>
  <div id="div_a_2" style="padding: 0%">
    <div id="div_b_1">
      <div style="position: absolute; top: 10%; left: 1%;">
        <p style="font-size: 32px;">Inbox</p>
      </div>
      <div style="position: relative; top: 60%; right: 1%;">
        <div style=" background-color: blue; color: gray; float: right; width: 15%; height: 15%; border: solid 1px;"></div> 
        <label>
          <input [(ngModel)]="search.term" style=" background-color: white; color: gray; 
          float: right; width: auto; height: 15%; border: solid 1px; position: absolute; top: 2%; right: 2%;" 
          placeholder="Search this folder..."/>
        </label>
      </div>
    </div>
    <div id="div_b_2" style="padding: 0%;">
      <div id="div_c_1">
        <ul style="list-style-type: none; padding: 5% 10% 0% 10%;">
          <li><div class="email_preview">From:<br/>Subject:<br/>Time<br/></div></li>
        </ul>
      </div>
      <div id="div_c_2" style="padding: 0%;">
        <div id="div_d_1">
          <div style="position: absolute; top: 11%; left: 2%;">Sender Email:</div>
          <div style="position: absolute; top: 35%; left: 2%;">Subject:</div>
          <div style="position: absolute; top: 60%; left: 2%;">Time:</div>
        </div>
        <div id="div_d_2">
          <div id="email_content_display"></div>
          <div>
            <button type="button" style="position: absolute; top: 2%; right: 8%; color: white; background-color: none;
            border: solid 1px; height: auto; width: auto; padding: 4px; border-color: black;">Send</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</body> -->
