<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

<div class ="left">
<div class="img"></div>

<div class="info">
      <h5>Scott Morrison</h5>
      <h6>Prime Minister,   Australia</h6>
</div>
</div>

<!-- timeline -->
<div class="right">

<ul class="timeline">
    <li class="timeline__line"></li>
    <li class="timeline__item start">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">Scott Morrison</h6>
        <br>
      </div>
      <li class="timeline__item">
        <div class="info">
          <div class="dot"></div>

          <h6 class="title">
            Biography :
          </h6>
        </div>
        <div class="content">
          Scott John Morrison was born 13 May 1968 and is an Australian politician serving as the 30th and current prime minister of Australia having become the leader of the Liberal Party in August 2018.
          He has held senior ministerial office since 2013, including as Treasurer in the Turnbull Government (2015–2018).
          <br>
          <br>
          Morrison was born in Sydney and studied economic geography at the University of New South Wales. He worked as director of the New Zealand Office of Tourism and Sport from 1998 to 2000 and was managing director of Tourism Australia from 2004 to 2006.
          Morrison was also state director of the New South Wales Liberal Party from 2000 to 2004. He was later elected to the House of Representatives at the 2007 election, representing the Division of Cook in New South Wales.
         <br>
         <br>
         After the Coalition victory at the 2013 election, Morrison was appointed Minister for Immigration and Border Protection in the Abbott Government, in which capacity he was responsible for implementing Operation Sovereign Borders.
         In a reshuffle the following year, he became Minister for Social Services. He was later promoted to the role of Treasurer in September 2015, after Malcolm Turnbull replaced Abbott as prime minister.
         <br>
         <br>
         In August 2018, Home Affairs Minister Peter Dutton unsuccessfully challenged Turnbull for the leadership of the Liberal Party.
         Leadership tension continued, and the party voted to hold a second leadership ballot on 24 August, with Turnbull choosing not to stand. In that ballot, Morrison defeated both Dutton and Foreign Minister Julie Bishop to become leader of the Liberal Party.
         He was sworn in as prime minister by the Governor-General later that day. Morrison went on to lead the Coalition to an upset victory in the 2019 election.
         <br>
         <br>
         Prime Minister Malcolm Turnbull called a leadership spill on 21 August 2018 in order to gauge the confidence of the Liberal Party in his leadership.
         He defeated challenger Peter Dutton by 48 votes to 35. Over the following days, there was repeated speculation about a second spill being called, without Turnbull's approval.
         Turnbull announced two days later that he would resign the leadership if a spill motion were passed. Dutton, Morrison and Julie Bishop announced they would stand for the leadership if that were the case.
         Morrison made his first overseas trip as prime minister less than a week after acceding to the office.
         He visited Indonesian capital of Jakarta for the Australia–Indonesia Business Forum and met with President Joko Widodo, announcing a free trade deal between the two nations that had been negotiated under the preceding Turnbull Government.
        </div>
      </li>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>

        <h6 class="title">
            Allies ：
        </h6>
      </div>

      <div class="content">
         Overall Australia's largest trading partners are the United States,South Korea, Japan, China, and the United Kingdom.
      Australia currently has bilateral Free Trade Agreements with New Zealand, the United States, Thailand and Singapore as of 2007.
      </div>

    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">
            Enemies :
        </h6>
      </div>

      <div class="content">
         In July 2019, the United States Studies Centre surveyed 1,820 Americans, asking them to assess 14 countries as either an “ally” of the United States, as “friendly” or “unfriendly” towards the United States, or as an “enemy” of the United States.
      A similar exercise was given to 1,800 Australian survey respondents, eliciting assessments of Australia’s relationships with the same set of countries.
      </div>
    </li>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">
            Beliefs :
        </h6>
      </div>

      <div class="content">
        Morrison’s Pentecostal Christian faith is at the centre of his understanding of political life. He invited cameras to film him while worshipping at his church, Horizon, in southern Sydney.
      And in his maiden speech to Parliament in 2008, he described Pentecostal Hillsong Church leader Brian Houston as his “mentor” and himself as standing for “the immutable truths and principles of the Christian faith”.
      </div>
    </li>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">
            Ambitions :
        </h6>
      </div>

      <div class="content">
        "I want us to be the model jurisdiction in the world." This is an admirable sentiment, the sort of ambition and leadership Australians want from their national leader.
      </div>

  </ul>

</div>
  <!-- end of timeline -->



   <!-- set a side bar -->


   <div class="contact-info">
    <div class="option">
        <i class="fa fa-home"></i>
        <a class="text" href="#">Home</a>
    </div>

    <div class="option">
        <i class="fas fa-book-open"></i>
        <a class="text" *ngIf="user" routerLink="/scenario">Scenario</a>
    </div>

    <div class="option">
        <i class="fas fa-user-alt"></i>
        <a class="text"  *ngIf="user" routerLink="/RolePage">Role</a>
    </div>


    <div class="option">
        <i class="fa fa-envelope" ></i>
        <a class="text"  *ngIf="user" routerLink="/email">Email</a>

    </div>

    <div class="option">
        <i class="fab fa-twitter-square"></i>
        <a class="text" *ngIf="user" routerLink="/tweet">Tweet</a>

    </div>

    <div class="option">
        <i class="fas fa-newspaper"></i>
        <a class="text" *ngIf="user" routerLink="/news">News</a>
    </div>

    <div class="option">
        <i class="fas fa-comment-alt"></i>
        <a *ngIf="user" routerLink="/chat">Chat</a>
    </div>

    <div class="option">
        <i class="fa fa-cog"></i>
        <a class="text" *ngIf="user" routerLink="/control">Control</a>

    </div>

  </div>
