<div class="col-3">
    <ul *ngIf="(user$ | async).systemRole === 'participant'" class="d-flex flex-row flex-wrap">
        <li *ngFor="let tweetClass of tweetArray" class="list-group-item list-group-item-action">
                <p class="tweet">{{ tweetClass.tweetDescription }}</p>
                <p class="userOrRole">{{tweetClass.userRole}}</p>
                <p class="tweetDate">{{tweetClass.tweetDate.toDate() | date: 'medium'}}</p>
        </li>
        </ul>
    </div>
        <div class="col-3">
<ul *ngIf="(user$ | async).systemRole === 'admin'" class="d-flex flex-row flex-wrap">
    <li *ngFor="let tweetClass of tweetArray" class="list-group-item list-group-item-action">
            <p class="tweet">{{ tweetClass.tweetDescription }}</p>
            <p class="userOrRole">{{tweetClass.userRole}} ({{tweetClass.userName}})</p>
            <p class="tweetDate">{{tweetClass.tweetDate.toDate() | date: 'medium'}}</p>
    </li>
    </ul>
    </div>

<form #tweetCreateForm="ngForm" (ngSubmit)="createTweet(tweetDescription)">
<div>
    <div class="col-md-12">
        <textarea  ngModel #tweetDescription="ngModel" name="tweetDescription" type="text" class="form-control" id="tweetDescription"  placeholder="Enter your tweet" [maxLength]="maxTweet"></textarea>
    </div>
    <div class="col-md-12">
            <button type="submit">Tweet as {{tweetUser.role}}</button>
    </div>
</div>
</form>
