<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

<p class="lead">Here are the existing Roles:</p>
<table id="roles" class="table-condensed table-bordered">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Title</th>
            <th scope="col">Affiliation</th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let role of roles">
            <td><a [routerLink]="['/profile', role.id]">{{role.firstName}} {{role.lastName}}</a></td>
            <td>{{role.title}}</td>
            <td>{{role.affiliation}}</td>
        </tr>



    </tbody>
</table>



<div class="contact-info">
    <div class="option">
        <i class="fa fa-home"></i>
        <a class="text" href="#">Home</a>
    </div>

    <div class="option">
        <i class="fas fa-book-open"></i>
        <a class="text" routerLink="/scenario">Scenario</a>
    </div>

    <div class="option">
        <i class="fas fa-user-alt"></i>
        <a class="text" routerLink="/RolePage">Role</a>
    </div>


    <div class="option">
        <i class="fa fa-envelope"></i>
        <a class="text" routerLink="/email">Email</a>

    </div>

    <div class="option">
        <i class="fab fa-twitter-square"></i>
        <a class="text" routerLink="/tweet">Tweet</a>

    </div>

    <div class="option">
        <i class="fas fa-newspaper"></i>
        <a class="text" routerLink="/news">News</a>
    </div>

    <div class="option">
        <i class="fas fa-comment-alt"></i>
        <a class="text" routerLink="/chat">Chat</a>
    </div>

    <div class="option">
        <i class="fa fa-cog"></i>
        <a class="text" routerLink="/control">Control</a>

    </div>

</div>