<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

<p class="lead">Here are the existing Roles:</p>
<table id="roles" class="table-condensed table-bordered">
<thead>
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Affiliation</th>
    </tr>
</thead>
<tbody>
    <!-- <tr>

        <td><a >Islamic State</a></td>
        <td>Insurgent</td>
        <td>International</td
    ></tr> -->
<!-- <tr>
//    <td>alsg</td> -->
    <!-- <td><a>Ahmed Aboul-Gheit</a></td>
    <td>Secretary General, Arab League</td>
    <td>International</td>
</tr> -->

<tr><td><a routerLink="/roleProfile2">Angela Merkel</a></td><td>Chancellor</td><td>Germany</td></tr>
<tr><td><a routerLink="/roleProfile1">Vladimir	Putin</a></td><td>President</td><td>Russia</td></tr>
<tr><td><a routerLink="/roleProfile3">Tamim bin Hamad Al Thani</a></td><td>Emir</td><td>Qatar</td></tr>
<tr><td><a routerLink="/roleProfile4">Hamad bin Isa bin Salman Al Khalifa</a></td><td>King</td><td>Bahrain</td></tr>
<tr><td><a routerLink="/roleProfile5">Ashraf Ghani</a></td><td>President</td><td>Afghanistan</td></tr>
<tr><td><a routerLink="/roleProfile6">Jinping Xi</a></td><td>President</td><td>China</td></tr>
<tr><td><a routerLink="/roleProfile7">Justin Trudeau</a></td><td>Prime Minister</td><td>Canada</td></tr>
<tr><td><a routerLink="/roleProfile8">Scott Morrison</a></td><td>Prime Minister</td><td>Australia</td></tr>
<tr><td><a routerLink="/roleProfile9">Haitham bin Tariq</a></td><td>Sultan</td><td>Oman</td></tr>
<!-- <tr><td><a>Tamim bin Hamad bin Khalifa Al Thani</a></td><td>Emir</td><td>Gulf State - Qatar</td></tr>
<tr><td><a>United Nations High Commissioner for Refugees (UNHCR)</a></td><td>NGO</td><td>International</td></tr>
<tr><td><a>Teresa May</a></td><td>Prime Minister</td><td>Europe - United Kingdom</td></tr>
<tr><td><a>Hazem Kassem</a></td><td>Hamas Spokesperson</td><td>Hamas Government - Gaza</td></tr>
<tr><td><a>Hamad bin Isa Al Khalifah</a></td><td>King of Bahrain</td><td>Gulf State - Bahrain</td></tr>
<tr><td><a>Mohammed bin Rashid Al Maktoum</a></td><td>Prime Minister of the United Arab Emirates</td><td>Gulf State - United Arab Emirates</td></tr>
<tr><td><a>Medecins Sans Frontieres (MSF) in the Middle East and North Africa</a></td><td>NGO</td><td>International</td></tr>
<tr><td><a>United Nations Relief and Works Agency (UNRWA)</a></td><td>NGO</td><td>International</td></tr>
<tr><td><a>Emmanuel Macron</a></td><td>President</td><td>Europe - France</td></tr>
<tr><td><a>Sabah al-Sabah</a></td><td>Emir of Kuwait</td><td>Gulf State - Kuwait</td></tr>
<tr><td><a>Angela Merkel</a></td><td>Chancellor of Germany</td><td>Europe - Germany</td></tr>
<tr><td><a>Salman</a></td><td>King of Saudi Arabia</td><td>Gulf State - Saudi Arabia</td></tr>
<tr><td><a >Hassan Rouhani</a></td><td>President</td><td>Iran</td></tr>
<tr><td><a>Staffan de Mistura</a></td><td>UN Special Envoy of the Secretary-General for Syria</td><td>International</td></tr>
<tr><td><a>Vladimir Putin</a></td><td>President</td><td>Europe - Russia</td></tr>
<tr><td><a>Qaboos bin Said al Said</a></td><td>Sultan of Oman</td><td>Gulf State - Oman</td></tr>
<tr><td><a>Ayatollah Ali Khameni</a></td><td>Supreme Leader</td><td>Iran</td></tr>
<tr><td><a>International Committee of the Red Cross (ICRC)</a></td><td>NGO</td><td>International</td></tr>
<tr><td><a>Yossi Cohen</a></td><td>Director of Mossad</td><td>Israel</td></tr>
<tr><td><a>Mike Pompeo</a></td><td>Director, CIA</td><td>United States</td></tr>
<tr><td><a>Uri Ariel</a></td><td>Minister of Agriculture and Rural Development</td><td>Israel</td></tr>
<tr><td><a>Mohammed Mostafa</a></td><td>Minister of National Economy and Deputy Prime Minister</td><td>Palestinian National Authority</td></tr>
<tr><td><a>Fayez al-Sarraj</a></td><td>Prime Minister (GNA)</td><td>North Africa - Libya</td></tr>
<tr><td><a>Riyad al-Maliki</a></td><td>Minister of Foreign Affairs</td><td>Palestinian National Authority</td></tr>
<tr><td><a>Yoav Galant</a></td><td>Minister of Construction and Housing</td><td>Israel</td></tr>
<tr><td><a>Anas al-Abdah</a></td><td>President, National Coalition for Syrian Revolution and Opposition Forces</td><td>Syria</td></tr>
<tr><td><a>Masoud Barzani</a></td><td>Kurdish President</td><td>Iraq</td></tr>
<tr><td><a>Abdelaziz Bouteflika</a></td><td>President</td><td>North Africa - Algeria</td></tr>
<tr><td><a>Michel Aoun</a></td><td>President</td><td>Lebanon</td></tr>
<tr><td><a >Avigdor Lieberman</a></td><td>Minister of Defense</td><td>Israel</td></tr>
<tr><td><a >Mahmoud Abbas</a></td><td>President</td><td>Palestinian National Authority</td></tr>
<tr><td><a >Recep Erdogan</a></td><td>President</td><td>Turkey</td></tr>
<tr><td><a >Joseph Votel</a></td><td>Commander of CENTCOM</td><td>United States</td></tr>
<tr><td><a >Adnan al-Husseini</a></td><td>Minister for Jerusalem Affairs</td><td>Palestinian National Authority</td></tr>
<tr><td><a >Isaac Herzog</a></td><td>Opposition Leader</td><td>Israel</td></tr>
<tr><td><a>David Keyes</a></td><td>Prime Minister of Israel's Spokesperson</td><td>Israel</td></tr>
<tr><td><a >Donald Trump</a></td><td>President</td><td>United States</td></tr>
<tr><td><a >Hassan Nasrallah</a></td><td>Secretary General of Hezbollah</td><td>Lebanon</td></tr>
<tr><td><a >New York Times Online</a></td><td>Media</td><td>Media</td></tr>
<tr><td><a >Haider al-Abadi</a></td><td>Prime Minister</td><td>Iraq</td></tr>
<tr><td><a >Mohammad Javad Zarif</a></td><td>Minister of Foreign Affairs</td><td>Iran</td></tr>
<tr><td><a >al-Jazeera Online</a></td><td>Media</td><td>Media</td></tr>
<tr><td><a >Murat Karayilan</a></td><td>Commander-in-chief, Kurdistan Workers' Party (PKK)</td><td>Turkey</td></tr>
<tr><td><a >James Mattis</a></td><td>Secretary of Defense</td><td>United States</td></tr>
<tr><td><a >Ze'ev Elkin</a></td><td>Minister of Jerusalem Affairs and Heritage</td><td>Israel</td></tr>
<tr><td><a >Shawqi al-Aissa</a></td><td>Minister of Agriculture, Minister of Social Affairs & Minister of Prisoners' Affairs</td><td>Palestinian National Authority</td></tr>
<tr><td><a >Bashar al-Assad</a></td><td>President</td><td>Syria</td></tr>
<tr><td><a >Benjamin Netanyahu</a></td><td>Prime Minister and Minister of Foreign Affairs</td><td>Israel</td></tr>
<tr><td><a >Khalifa Haftar</a></td><td>Field Marshal, Libyan National Army</td><td>North Africa - Libya</td></tr>
<tr><td><a >Youssef Chahed</a></td><td>Prime Minister</td><td>North Africa - Tunisia</td></tr>
<tr><td><a >Abdullah II</a></td><td>King</td><td>Jordan</td></tr>
<tr><td><a >Mohammed VI</a></td><td>King</td><td>North Africa - Morocco</td></tr>
<tr><td><a >Jared Kushner</a></td><td>Senior Advisor to the President</td><td>United States</td></tr>
<tr><td><a >Rami Hamdallah</a></td><td>Prime Minister and Minister of the Interior</td><td>Palestinian National Authority</td></tr>
<tr><td><a >Rex Tillerson</a></td><td>Secretary of State</td><td>United States</td></tr>
<tr><td><a >Abdel Fattah al-Sisi</a></td><td>President</td><td>North Africa - Egypt</td></tr>
<tr><td><a >Abdul-Malik al-Houthi</a></td><td>Houthi Leader</td><td>Yemen</td></tr>
<tr><td><a >Saad Al-Hariri</a></td><td>Prime Minister</td><td>Lebanon</td></tr>
<tr><td><a >Ibrahim al-Jaafari</a></td><td>Minister of Foreign Affairs</td><td>Iraq</td></tr>
<tr><td><a >Ziad Abu Amr</a></td><td>Minister of Culture and Deputy Prime Minister</td><td>Palestinian National Authority</td></tr>
<tr><td><a >Sarah Huckabee Sanders</a></td><td>Whitehouse Press Secretary</td><td>United States</td></tr>
<tr><td><a >American Israel Public Affairs Committee (AIPAC)</a></td><td>Lobby Group</td><td>United States</td></tr>
<tr><td><a >Ha'aretz Online</a></td><td>Media</td><td>Media</td></tr>
<tr><td><a >BBC Online</a></td><td>Media</td><td>Media</td></tr>
<tr><td><a >Walid Muallem</a></td><td>Foreign Minister</td><td>Syria</td></tr>
<tr><td><a >Omar al-Bashir</a></td><td>President</td><td>North Africa - Sudan</td></tr>
<tr><td><a >Abd Rabbuh Mansur Hadi</a></td><td>President</td><td>Yemen</td></tr>
<tr><td><a >Hediya Yousef</a></td><td>Co-President, Rojava (Kurdish Syria)</td><td>Syria</td></tr> -->
</tbody></table>