<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

<table id="roles" class="table-condensed table-bordered">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Title</th>
            <th scope="col">Affiliation</th>
            <th scope="col">Twitter Handle</th>

        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let role of roles">
            <td><a [routerLink]="['/profile', role.id]">{{role.firstName}} {{role.lastName}}</a></td>
            <td>{{role.title}}</td>
            <td>{{role.affiliation}}</td>
            <td>@{{role.twitterHandle}}</td>

        </tr>
    </tbody>
</table>
