// =============== Upper-part =====================
.Upper-part {
    display: flex;
    height: 300px;
    width: 1080px;
    margin-top: 20px;
    background-color: #FAFAFA;
    box-shadow: 0 0 2.5px rgba(0, 0, 0, .3);
}

img {
    width: 280px;
    height: 280px;
    padding-left: 40px;
    padding-top: 15px;
    vertical-align: bottom;
}

.infoBox {
    padding-left: 45px;
    padding-top: 20px;
    width: 70%;
    border: none;
}
.table {
    font-size: 18px;
    
}



// =============== Lower-part =====================
.Lower-part {
  
    height: 1100px;
    width: 1080px;
    margin-top: 30px;
    background-color: #FAFAFA;
    box-shadow: 0 0 2.5px rgba(0, 0, 0, .3);
}

.info {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.bloghtml {
    display: inline-flex;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}