<body>
    <div class="Upper-part">

        <div class="imgBox">
            <img src="../../../assets/img/roles/bahrain_king.jpg" alt="Hamad bin Isa Al Khalifa">
        </div>

        <div class="infoBox">

            <table class="table">
                <tr>
                    <td>{{role.firstName}} {{role.lastName}}</td>
                </tr>
                <tr>
                    <td>{{role.title}} of {{role.affiliation}}</td>
                </tr>
            </table>

        </div>


    </div>

    <div class="Lower-part">

        <div class="info">
            <h4> Profile </h4>
            <p>{{role.description}}</p>
        </div>
    </div>