<div id="container">
<h4>Email Distributions Lists</h4>
<h5>Add </h5>
<br>
<form [formGroup]="emailForm" (ngSubmit)="Onsubmit(emailForm.value)"> 
    <input name="email" type="text" placeholder='Email' [formControlName]="'emaildistroemail' ">
    <br>
    <input name="list" type="text" placeholder='Recipients' [formControlName]="'distrolist'">
    <button class="btn btn-primary" type="submit" name="sendEmail" [disabled]="!emailForm.valid" [ngClass]="{'SubmitButtonGreen': emailForm.valid == true}">Add new</button>
</form>
<br>
<h5>View:</h5>
<table class="table table-striped col-12">
    <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col" class="action">Lists</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let DistroLists of EmailDistributionListsArray">
            <td>{{DistroLists.email}}</td>
            <td>{{DistroLists.List}}</td>
        </tr>
    </tbody>
</table>
</div>
