// set header wrapper width，Set wrapper to center
.w
{
    width: 1226px;
    margin: 0 auto;
}
// set header wrapper color and shadow
.header-wrapper
{
    background-color: #380000;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
// set height of header
.header
{
    height: 100px;
}

/* set logo */
.header .logo
{
    float: left;
    margin-top: 25px;
    margin-left: -20px;
    margin-right: 25px;

    overflow: hidden;
    width: 150px;
    height: 50px;
    position: relative;
    text-indent: -9999px;
}
// /* set logo link */
.header .logo a
{
    position: absolute;
    display: block;
    width: 150px;
    height: 50px;
    left: 0;  
    background-image: url("../../assets/img/logo-MEPS.png");    
    background-color: transparent;
    background-position: center;
    transition: left 0.3s;
}
// /* set logo animation */
.header .logo .Middle{
    background-image: url("../../assets/img/logo-full-name.png");
    left: -150px;
}
.header .logo:hover .MEPS{
    left: 150px;
}

.header .logo:hover .Middle{
    left: 0;
}

.readAllBtn
{
  margin-top: 5px;
  margin-left: 63%;
  width: 30%;
  border: none;
  outline: none ;
  height: 40px;
  font-size: 20px;    
  background: #FD999A;
  cursor: pointer;
  color:  #ffffff; 
}

.readAllBtn:hover{
    background-color: #8ABBDB;
}

/* set user */
.user
{
    float: right;
    /*margin-left: 200px;*/
}
.user .fa-user
{
    margin-right: 10px;
   
}
.user .fa-angle-down
{
    margin-left: 7px;
   
}
.dropdown-item
{
    padding-left: 15px;
    line-height: 30px;
}

//============================= diary ========================================

.nav .diary a
{
    font-size: 15px;
    padding-left: 5px;
    line-height: 20px;
    color: black;
    text-decoration: none;
}



.nav .diary a .notificationDate{
    color:lightseagreen;
    font-size: 12px;
    margin:0%
}

.nav .diary a .notificationContent{
    padding: 0%;
    margin:0%
}

.nav .diary a .notificationContent.hidden{
    display: none;
}

.nav .diary a .notificationDate.hidden{
    display: none;
}

.unread {
    background: lightgrey;
}
.header .w .clearfix {
    width: 100%; 
    margin: 0 auto;
}

// set basic detail

.w[_ngcontent-kak-c1] {
    width: 100%; 
    margin: 0 auto;
}

.nav
{
    min-width: 1226px;
    height: 100px;
    padding-left: 50px;
}
.ul .right
{
    height: 100px;
}

.nav a
{
    font-size: 20px;
    text-decoration: none;
    line-height: 5;
}


.header .nav-wrapper
{
    // float: left;
   // margin-left: 7px;
   margin-left: 10%;
}
.team {
    width: max-content !important;
    margin-left: -14px;
}

// set hover
.nav-wrapper li a:hover
{
    color: #C0C0C0;

}

.dropdown-toggle::after {
    display: none;
}


// set active page
.active {
    background-color: #383843;
    color: #C0C0C0;
}

.notificationCount {
    margin: 5px;
}

.nav .item{
    color:black;
    line-height: 35px;
    text-align: center;
}

.mat-drawer-container {
    position: inherit;
    z-index: 1;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    display: block;
    overflow: hidden;
}


.flip-card {
    background-color: transparent;
    width: 100px;
    height: 100px;
    perspective: 1000px;
  }
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
  //  background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #44444c;
    color: white;
    transform: rotateY(180deg);
  }