// set header wrapper width，Set wrapper to center
.w
{
    width: 1226px;
    margin: 0 auto;
}
// set header wrapper color and shadow
.header-wrapper
{
    background-color: #454552;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
// set height of header
.header
{
    height: 100px;
}

/* set logo */
.header .logo
{
    float: left;
    margin-top: 25px;
    margin-left: -20px;
    margin-right: 25px;

    overflow: hidden;
    width: 150px;
    height: 50px;
    position: relative;
    text-indent: -9999px;
}
// /* set logo link */
.header .logo a
{
    position: absolute;
    display: block;
    width: 150px;
    height: 50px;
    left: 0;  
    background-image: url("../../assets/img/logo-MEPS.png");    
    background-color: transparent;
    background-position: center;
    transition: left 0.3s;
}
// /* set logo animation */
.header .logo .Middle{
    background-image: url("../../assets/img/logo-full-name.png");
    left: -150px;
}
.header .logo:hover .MEPS{
    left: 150px;
}

.header .logo:hover .Middle{
    left: 0;
}

.readAllBtn
{
  margin-top: 5px;
  margin-left: 63%;
  // margin-right: 30px;
  width: 30%;
  border: none;
  outline: none ;
  height: 40px;
  font-size: 20px;    
  background: #FD999A;
  cursor: pointer;
  color:  #ffffff; 
}

/* set user */
.user
{
    float: right;
    /*margin-left: 200px;*/
}
.user .fa-user
{
    margin-right: 10px;
   
}
.user .fa-angle-down
{
    margin-left: 7px;
   
}
.dropdown-item
{
    padding-left: 15px;
    line-height: 30px;
}

//============================= diary ========================================

.nav .diary a
{
    font-size: 15px;
    padding-left: 5px;
    line-height: 20px;
    color: black;
    text-decoration: none;
}

.nav .diary a .notificationDate{
    color:lightseagreen;
    font-size: 12px;
    margin:0%
}

.nav .diary a .notificationContent{
    padding: 0%;
    margin:0%
}

.unread {
    background: lightgrey;
}

// set basic detail

.nav
{
    min-width: 1226px;
    height: 100px;
    padding-left: 50px;
}
.ul .right
{
    height: 100px;
}

.nav a
{
    font-size: 20px;
    text-decoration: none;
    line-height: 5;
}


.header .nav-wrapper
{
    float: left;
    margin-left: 7px;
}

// set hover
.nav-wrapper li a:hover
{
    color: #C0C0C0;

}

.dropdown-toggle::after {
    display: none;
}


// set active page
.active {
    background-color: #383843;
    color: #C0C0C0;
}

.notificationCount {
    margin: 5px;
}