<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

<div class ="left">
<div class="img"></div>

<div class="info">
      <h5>Angela Merkel</h5>
      <h6>Chancellor of Germany,   Europe - Germany</h6>
</div>
</div>

<!-- timeline -->
<div class="right">

<ul class="timeline">
    <li class="timeline__line"></li>
    <li class="timeline__item start">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">Angela Merkel</h6>
        <br>
      </div>
      <li class="timeline__item">
        <div class="info">
          <div class="dot"></div>
          <h6 class="title">
            Background and early life :
          </h6>
        </div>
        <div class="content">
          Angela Merkel, born in Hamburg on July 17th 1954, is not only the first female leader of Germany’s Christian Democratic Union (since 2000), she also currently holds the title of Chancellor of Germany – again, the first female to do so – and has retained this position since her 2005 election win. Forbes has regularly included her in its list of the world’s most powerful women, with Merkel taking out the top position for 6 consecutive years between 2011 and 2016 (Forbes Corporate Communications 2016).
          <br>
          <br>
          Merkel is of German and Polish descent. Her paternal grandfather, Ludwik Kasner, was a German policeman of Polish ethnicity, who had taken part in Poland's struggle for independence in the early 20th century. He married Merkel's grandmother Margarethe, a German from Berlin, and relocated to her hometown where he worked in the police. In 1930, they Germanized the Polish name Kaźmierczak to Kasner.Merkel's maternal grandparents were the Danzig politician Willi Jentzsch, and Gertrud Alma née Drange, a daughter of the city clerk of Elbing (now Elbląg, Poland) Emil Drange. Since the mid 1990s, Merkel has publicly mentioned her Polish heritage on several occasions and described herself as a quarter Polish, but her Polish roots became better known as a result of a 2013 biography.
          <br>
          <br>
          Religion played a key role in the Kasner family's migration from West Germany to East Germany. Merkel's paternal grandfather was originally Catholic but the entire family converted to Lutheranism during the childhood of her father,who later studied Lutheran theology in Heidelberg and Hamburg. In 1954, when Angela was just three months old, her father received a pastorate at the church in Quitzow [de] (a quarter of Perleberg in Brandenburg), which was then in East Germany. The family moved to Templin and Merkel grew up in the countryside 90 km (56 mi) north of East Berlin.
        </div>
      </li>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">
          Education and scientific career ：
        </h6>
      </div>
      <div class="content">
        Merkel was educated at Karl Marx University, Leipzig, where she studied physics from 1973 to 1978. While a student, she participated in the reconstruction of the ruin of the Moritzbastei, a project students initiated to create their own club and recreation facility on campus. Such an initiative was unprecedented in the GDR of that period, and initially resisted by the University; however, with backing of the local leadership of the SED party, the project was allowed to proceed.At school she learned to speak Russian fluently, and was awarded prizes for her proficiency in Russian and mathematics. She was the best in her class in mathematics and Russian, and completed her school education with the best possible average Abitur grade 1.0
          <br>
          <br>
          Merkel worked and studied at the Central Institute for Physical Chemistry of the Academy of Sciences in Berlin-Adlershof from 1978 to 1990. At first she and her husband squatted in Mitte.At the Academy of Sciences, she became a member of its FDJ secretariat. According to her former colleagues, she openly propagated Marxism as the secretary for "Agitation and Propaganda".However, Merkel has denied this claim and stated that she was secretary for culture, which involved activities like obtaining theatre tickets and organising talks by visiting Soviet authors.She stated: "I can only rely on my memory, if something turns out to be different, I can live with that."
      </div>

    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">
          Early political career :
        </h6>
      </div>
      <div class="content">
        The fall of the Berlin Wall in November 1989 served as the catalyst for Merkel's political career. Although she did not participate in the crowd celebrations the night the wall came down, one month later Merkel became involved in the growing democracy movement, joining the new party Democratic Awakening.Following the first (and only) multi-party election in East Germany, she became the deputy spokesperson of the new pre-unification caretaker government under Lothar de Maizière. Merkel had impressed de Maiziere with her adept dealing with journalists questioning the role of a party leader, Wolfgang Schnur, as an "informal co-worker" with the homeland security services.In April 1990, Democratic Awakening merged with the East German Christian Democratic Union, which in turn merged with its western counterpart after reunification.
          <br>
          <br>
          In the German federal election of 1990, the first to be held following reunification, Merkel successfully stood for election to the Bundestag in the parliamentary constituency of Stralsund – Nordvorpommern – Rügen in north Mecklenburg-Vorpommern.She has won re-election from this constituency (renamed, with slightly adjusted borders, Vorpommern-Rügen – Vorpommern-Greifswald I in 2003) at the seven federal elections held since then. Almost immediately following her entry into parliament, Merkel was appointed by Chancellor Helmut Kohl to serve as Minister for Women and Youth in the federal cabinet. In 1994, she was promoted to the position of Minister for the Environment and Nuclear Safety, which gave her greater political visibility and a platform on which to build her personal political career. As one of Kohl's protégées and his youngest Cabinet Minister, she was frequently referred to by Kohl as "mein Mädchen" ("my girl").
      </div>
    </li>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">
          Chancellor of Germany :
        </h6>
      </div>
      <div class="content">
        On 22 November 2005, Merkel assumed the office of Chancellor of Germany following a stalemate election that resulted in a grand coalition with the SPD. The coalition deal was approved by both parties at party conferences on 14 November 2005. Merkel was elected Chancellor by the majority of delegates (397 to 217) in the newly assembled Bundestag on 22 November 2005, but 51 members of the governing coalition voted against her.
          <br>
          <br>
          When announcing the coalition agreement, Merkel stated that the main aim of her government would be to reduce unemployment, and that it was this issue on which her government would be judged.
          <br>
          <br>
          In 2019 media speculation persists that Merkel's successor as party leader, Annegret Kramp-Karrenbauer, may take over Merkel's position as chancellor sooner than planned if the current governing coalition proves unsustainable.The possibility is neither confirmed nor denied by the party.In February 2020, Kramp-Karrenbauer announced that she would resign as party leader of the CDU in the summer, after party members in Thuringia defied her by voting with Alternative for Germany to support a FDP-candidate for minister-president
      </div>
    </li>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">
          Approval ratings :
        </h6>
      </div>
      <div class="content">
        Midway through her second term, Merkel's approval plummeted in Germany, resulting in heavy losses in state elections for her party. 
        <br>
        <br>
        An August 2011 poll found her coalition had only 36% support compared to a rival potential coalition's 51%. However, she scored well on her handling of the recent euro crisis (69% rated her performance as good rather than poor), and her approval rating reached an all-time high of 77% in February 2012 and again in July 2014.Merkel's approval rating dropped to 54% in October 2015, during the European migrant crisis, the lowest since 2011. 
        <br>
        <br>
        According to a poll conducted after terror attacks in Germany Merkel's approval rating dropped to 47% (August 2016).Half of Germans did not want her to serve a fourth term in office compared to 42% in favor.However, according to a poll taken in October 2016, her approval rating had been found to have risen again, 54% of Germans were found to be satisfied with work of Merkel as Chancellor. 
        <br>
        <br>
        According to another poll taken in November 2016, 59% were to found to be in favour of a renewed Chancellor candidature of Merkel in 2017. According to a poll carried out just days after the 2016 Berlin attack, in which it was asked which political leader(s) Germans trust to solve their country's problems; 56% named Merkel, 39% Seehofer (CSU), 35% Gabriel (SPD), 32% Schulz (SPD), 25% Özdemir (Greens), 20% Wagenknecht (Left Party), 15% Lindner (FDP), and just 10% for Petry (AfD).
        <br>
        <br>
        A YouGov survey published in late December 2017 found that just 36 percent of all respondents wanted Merkel to stay at the helm until 2021, while half of those surveyed voters called for a change at the top before the end of the legislature.By 2019 this had again changed, with now 67% of Germans wanting Merkel to stay till the end of her term in 2021 and only 29% wanting her to step down earlier.
      </div>
    <li class="timeline__item">
      <div class="info">
        <div class="dot"></div>
        <h6 class="title">
          International status :
        </h6>
      </div>
      <div class="content">
        Merkel has been widely described as the de facto leader of the European Union throughout her tenure as Chancellor. Merkel has twice been named the world's second most powerful person following Vladimir Putin by Forbes magazine, the highest ranking ever achieved by a woman.On 26 March 2014, Merkel became the longest-serving incumbent head of government in the European Union. In December 2015, Merkel was named as Time magazine's Person of the Year, with the magazine's cover declaring her to be the "Chancellor of the Free World". 
        <br>
        <br>
        In 2018, Merkel was named the most powerful woman in the world for a record fourteenth time by Forbes. Following the election of Donald Trump to the U.S. presidency in November 2016, Merkel was described by The New York Times as "the Liberal West's Last Defender".Since 2016 she has been described by some commentators as the "leader of the free world".Former US Secretary of State Hillary Clinton described Merkel in 2017 as "the most important leader in the free world",She is currently the senior G7 leader. 
        <br>
        <br>
        The Atlantic described her in 2019 as "the world's most successful living politician, on the basis of both achievement and longevity".[168] She was found in a 2018 survey to be the most respected world leader internationally. She was named as Harvard University's commencement speaker in 2019; Harvard University President Larry Bacow described her as "one of the most widely admired and broadly influential statespeople of our time". Views both domestic and abroad have often been divisive and critical however, particularly of her migrant policies and attitude towards NATO contributions.
      </div>
  </ul>

</div>
  <!-- end of timeline -->



   <!-- set a side bar -->



   <div class="contact-info">
    <div class="option">
        <i class="fa fa-home"></i>
        <a class="text" href="#">Home</a>
    </div>

    <div class="option">
        <i class="fas fa-book-open"></i>
        <a class="text" routerLink="/scenario">Scenario</a>
    </div>

    <div class="option">
        <i class="fas fa-user-alt"></i>
        <a class="text" routerLink="/RolePage">Role</a>
    </div>


    <div class="option">
        <i class="fa fa-envelope" ></i>
        <a class="text" routerLink="/email">Email</a>

    </div>

    <div class="option">
        <i class="fab fa-twitter-square"></i>
        <a class="text" routerLink="/tweet">Tweet</a>

    </div>

    <div class="option">
        <i class="fas fa-newspaper"></i>
        <a class="text" routerLink="/news">News</a>
    </div>

    <div class="option">
        <i class="fas fa-comment-alt"></i>
        <a class="text" routerLink="/chat">Chat</a>
    </div>

    <div class="option">
        <i class="fa fa-cog"></i>
        <a class="text" routerLink="/control">Control</a>

    </div>

  </div>
