
.col-12 
{
    height: 100px;
    padding-left: 0;
    color: #6e7783;
}
h4
{
    margin-left: 0;
    padding-left: 0;
}
.col-md-12 .mb-2
{
  margin-left: 0;

}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea
{
    border-bottom: 1px solid  #6e7783;
    font-size: 18px;
    padding-bottom: 10px;
    width: 500px;
}
::placeholder
{
    color: rgba(0, 0, 0, .3);
}

.col-md-12 button[type="submit"],
.col-md-12 button[type="button"]
{
   
    margin-top: 10px;
    margin-right: 30px;
    width: 20%;
    border: 1px solid #6e7783;
    outline: none ;
    height: 40px;
    font-size: 16px;    
    background: transparent;
    cursor: pointer;
    color:  #828282 ;
    font-weight: bold;    
}
.col-md-12 button[type="submit"]:hover,
.col-md-12 button[type="button"]:hover
{
    background-color: #6e7783;
    color:#f2e9e1;
}