<div class="row mt-4" *ngIf="user">
    <div class="col-12">
        <div class="row" *ngIf="authError">
            <div class="col-12 alert alert-danger">
                {{ authError?.message }}
            </div>
        </div>
        <form #countryCreateForm="ngForm" (ngSubmit)="add()">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <div class="col-12">
                        <h4>Country and Affiliate Tool</h4>
                    </div>
                    <input [(ngModel)]="affiliate.countryName" name="countryName" type="text" class="form-control" id="countryName" placeholder="Country or affiliate name">
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit">Create</button>
                        <button type="button" (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
