<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<div class="row" *ngIf="user">

    <ngb-tabset [destroyOnHide]="false">
        <ngb-tab title="Affiliation">
            <ng-template ngbTabContent>
                <div class="col-3">
                    <app-affiliate></app-affiliate>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Role">
            <ng-template ngbTabContent>
                <div class="col-8">
                    <app-role></app-role>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Participant">
            <ng-template ngbTabContent>
                <div class="col-8">
                    <app-participant></app-participant>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Statistics">
            <ng-template ngbTabContent>
                <div class="col-8">
                    <app-statistics></app-statistics>
                </div>
            </ng-template>
        </ngb-tab>

    </ngb-tabset>
</div>



   <!-- set a side bar -->


   <div class="contact-info">
    <div class="option">
        <i class="fa fa-home"></i>
        <a class="text" href="#">Home</a>
    </div>

    <div class="option">
        <i class="fas fa-book-open"></i>
        <a class="text" routerLink="/scenario">Scenario</a>
    </div>

    <div class="option">
        <i class="fas fa-user-alt"></i>
        <a class="text" routerLink="/RolePage">Role</a>
    </div>


    <div class="option">
        <i class="fa fa-envelope" ></i>
        <a class="text" routerLink="/email">Email</a>

    </div>

    <div class="option">
        <i class="fab fa-twitter-square"></i>
        <a class="text" routerLink="/tweet">Tweet</a>

    </div>

    <div class="option">
        <i class="fas fa-newspaper"></i>
        <a class="text" routerLink="/news">News</a>
    </div>

    <div class="option">
        <i class="fas fa-comment-alt"></i>
        <a class="text" routerLink="/chat">Chat</a>
    </div>

    <div class="option">
        <i class="fa fa-cog"></i>
        <a class="text" routerLink="/control">Control</a>

    </div>

  </div>
