<ngb-tabset [destroyOnHide]="false">
    <ngb-tab title="Affiliation">
        <ng-template ngbTabContent>
            <div class="col-3">
                <app-affiliate></app-affiliate>
            </div>
        </ng-template>
    </ngb-tab>

    <ngb-tab title="Role">
        <ng-template ngbTabContent>
            <div class="col-8">
                <app-role></app-role>
            </div>
        </ng-template>
    </ngb-tab>

    <ngb-tab title="Participant">
        <ng-template ngbTabContent>
            <div class="col-8">
                <app-participant></app-participant>
            </div>
        </ng-template>
    </ngb-tab>

    <ngb-tab title="User">
        <ng-template ngbTabContent>
            <div class="col-3">

            </div>
        </ng-template>
    </ngb-tab>

    <ngb-tab title="User-sub">
        <ng-template ngbTabContent>
            <div class="col-3">

            </div>
        </ng-template>
    </ngb-tab>

</ngb-tabset>
