<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<div class="row" *ngIf="user">

    <ngb-tabset [destroyOnHide]="false">
        <ngb-tab title="Affiliations">
            <ng-template ngbTabContent>
                <div class="col-3">
                    <app-affiliate></app-affiliate>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Roles">
            <ng-template ngbTabContent>
                <div class="col-8">
                    <app-role></app-role>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Participants">
            <ng-template ngbTabContent>
                <div class="col-8">
                    <app-participant></app-participant>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Admins">
            <ng-template ngbTabContent>
                <div class="col-8">
                    <app-owner [user]="user"></app-owner>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Statistics">
            <ng-template ngbTabContent>
                <div class="col-8">
                    <app-statistics [user]="user"></app-statistics>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Email Distribution Lists">
            <ng-template ngbTabContent>
                    <app-email-distrobution-control> </app-email-distrobution-control>
            </ng-template>
        </ngb-tab>

    </ngb-tabset>
</div>
