// ============= Adjust the Side-bar ===================================

.contact-info{
  position: fixed;
  top: 40%;
  z-index: 99999;
  left: 0;
  
}
.option{
  cursor: pointer;
  position: relative;
}
.option i{
  display: block;
  width: 60px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  background: transition;
  color: #454552;
  font-size: 20px;
  transition: 0.6s;
}
.option:hover i{

  color: #FD999A;
}
.text{
  position: absolute;
  height: 60px;
  width: 120px;
  background:  transition;
  top: 0;
  z-index: -1;
  left: -140px;
  color: #454552;
  line-height: 60px;
  text-align: center;
  transition: 0.6s;
  font: bold;
}
option.a{
  position: absolute;
  height: 60px;
  width: 120px;
  background: #454552;
  top: 0;
  z-index: -1;
  left: -140px;
  color: #f2e9e1;
  line-height: 60px;
  text-align: center;
  transition: 0.6s;
  font: bold;
}

.option:hover .text{
  left: 40px;
}
