<div *ngIf="user">
 
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Student Name</th>
                <th scope="col">Email ID's</th>
                <th scope="col">Emails Sent</th>
                <th scope="col">Emails Recieved</th>
                <th scope="col">Average time in application</th>
                <th scope="col">Emails</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let participant of participants">
                <td>{{participant.firstName}} {{participant.lastName}}</td>
                <td>{{participant.email}}</td>
            </tr>
            
        </tbody>
      </table>
</div>
