.button
{
    margin-top: 0;
    margin-bottom: 20px;
    height: 40px;
    left: 0;
    display: inline-block;
    border-radius: 4px;
    background-color: #FD999A;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    vertical-align:center;

}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '+';
    font-size: 15px;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover{
    background-color:#8ABBDB;
  }
  .button:hover span {
    padding-right: 25px;
    
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.table
{
    width: 870px;
    height: 1080px;
}
td, th 
{
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}
.table th, .table td
{
    border-top: none;
    border-bottom:1px solid  #6e7783;
}
// .table td
// {
 
//     vertical-align: middle;
// }
.table-striped tbody tr:nth-of-type(odd)
{
    background-color: #E1EEF6;
}

// ===== button =======
.btn, .btn-large, .btn-small
{
    color: #ffffff;
   background-color: #8ABBDB!important;
   border-radius: 10px;
}

.btn:hover
{
    color: #ffffff;
    background-color: #FD999A !important;
}

.img
{
  display: inline-block;
  padding:0;
  margin-top: 20px;
  height: 500px;
  width: 800px;
  background-image: url("../../../assets/img/infoTime.jpg");
}
.img1
{
  display: inline-block;
  padding:0;
  margin-top: 20px;
  height: 550px;
  width: 800px;
  background-image: url("../../../assets/img/infoGraph.jpg");
}
